[submodule "config"]
	path = config
	url = server@192.168.1.62:/home/server/traversingConfig/.git
    ignore = dirty
    
[submodule "proto"]
	path = proto
	url = server@192.168.1.62:/home/server/traversingProto/
    ignore = dirty
