A\s*V
性\s*交
激
情
斑竹
版主
外掛
遊戲管理員
遊戲管理者
管理員
新手指導員
新手輔導員
遊戲嚮導
遊戲監督員
遊戲送獎員
客戶服務
客服測試員
客服
客服人員
掛機
私服
私\*服
私\*\*服
代練
系統公告
WG
kf
Waigua
Admin
GM
Gamemaster
rushGM
GM-rush
TEST
Media
活動
裝備展示
裝備演示
測試
比賽
裁判
監督
檢查
中華人民共和國
中華人民共和國
16大
17大
十六大
十七大
天安門
中南海
領導
共產黨
中國共產黨
國民黨萬歲
中國
中共
共軍
中華民國
中華民國
中共中央
共產黨
黨中央
總書記
國家主席
總理
政治局
常委
共黨
毛澤東
毛澤東
maozedong
鄧小平
鄧曉平
鄧小平
dengxiaoping
胡錦濤
hujingtao
溫家寶
wenjiabao
周恩來
zhouenlai
李鵬
lipeng
韓正
黃菊
江澤民
江澤民
jiangzeming
朱鎔基
朱鎔基
zhurongji
李肇星
謝麗娟
陳至立
吳邦國
賈慶林
鄒家華
王樂泉
王兆國
曾慶紅
吳官正
李長春
陳良宇
李嵐清
李嵐清
lilanqing
羅幹
胡錦濤
溫家寶
周恩來
李鵬
韓正
黃菊
吳儀
謝麗娟
陳至立
吳邦國
賈慶林
曾慶紅
吳官正
李長春
陳良宇
羅幹
李瑞環
尉健行
喬石
馬克思
恩格斯
列寧
趙紫陽
胡耀邦
劉少奇
回良玉
劉淇
劉雲山
張立昌
張德江
永康
俞正聲
賀國強
郭伯雄
曹剛川
曾培炎
MaoZedong
DengXiaoping
HuJintao
WenJiabao
ZhouEnlai
JiangZemin
FBI
國民黨
國民黨
台獨
臺獨
民國
民國
臺灣國
陳水扁
陳總統
沒有人權
政府無能
臺灣獨立
臺灣總統
兩國論
一邊一國
獨裁
統治
臺灣共和國
新黨
民進黨
台聯
親民黨
宋楚瑜
李登輝
連戰
蔣中正
蔣介石
蔣經國
呂秀蓮
孫中山
孫逸仙
孫文
江賊民
阿拉
基督
佛祖
媽祖
薩達姆
拉登
恐怖主義
爆炸
集會
遊行
示威
西藏分裂
新疆獨立
東突
自焚
垮臺
倒臺
分裂
鎮壓
迫害
獨立
納粹
日本帝國
大東亞
共榮圈
赤匪
共匪
政變
保衛臺灣
皇軍
造反
民運
打倒
推翻
藏獨
疆獨
穆罕默德
聖母
觀世音
耶和華
耶穌
佛教
道教
基督教
回教
密宗
伊斯蘭
高麗棒子
南蠻子
穆斯林
回回
一貫道
法輪功
李洪志
摩門教
吾爾開西
89動亂
89暴亂
1989六四
89六四
64動亂
六四運動
89運動
1989年6月4日
一九八九六四
六四平暴
六四之前
六四以前
六四之後
六四以後
一九八九年六月四日
血洗天安門
血灑天安門
天安門屠城
六四屠城
六四周年祭
六四平反
平反六四
蔣彥永
蔣彥勇
蔣彥永上書
蔣彥勇上書
天安門母親
天安們母親運動
討伐中宣部
炮打中宣部
丁加班
何加棟
劉曉竹
鮑彤
劉曉波
丁子霖
中宣部是中國的愛滋病
好死不如賴活著
六四回憶錄
六四參加者
六四參加者回憶錄
八九年那個春夏之交
學生愛國者運動
學生愛國者運動證明
六四死難者
六四真相
89學潮
八九學潮
公審江澤民
公審李鵬
全球公審江澤民
六四正名
64
六四事件
天安門殘案
天安門慘案
89風波
八九風波
生者與死者
晚年周恩來
一黨專制
警匪一家
三個代婊
江澤民
大紀元
江核心
江獨裁
天安門檔案
多維新聞
大\*FA弟\*子
梅花網
動亂
暴亂
真善忍
法輪
大法
法\*輪
法\*\*輪
法$輪
法$$輪
法^輪
法^^輪
法@輪
法@@輪
法~輪
法~~輪
法輪
法\*輪\*功
法輪大法
法(輪)功
法\*
法×
FLG
F\.L\.G
大法弟子
4\.25
勞+教+所
賺錢
美金
美元
葫蘆案
巡府媳
蘇秀文
黑省副省長
信不信我撞死你
省長的兒媳婦
省長兒媳婦
寶馬
可憐賣菜婦
黑AL6666
告全體線民書
寶-馬撞人案
真理組織
禽流感
新唐人電視臺
全球華人春節聯歡晚會
寶馬車撞人案
孫大午
朱勝文
廣西禽流感
流行禽流感
韓桂芝
劉傑
黑龍江農墾總局遜克農場
張震
民主黨派
雲龍湖
紅頂商人
朱林
梓霖
學生愛國運動正名
婁義
先審後貼
預審查
新聞管制
輿論鉗制
2\.23會議
中宣部
邪教
討伐
昝愛宗
六月four日
懷念十五年前的大學生
89年的鬥爭
15年前的“共和國衛士”
15年紀念日
天安門情人
六四點擊
瓦良格
如何推翻中共
306醫院
解放軍306醫院
鄒德威
網址
免費影院
徐建國案件
江蘇省黨政一把手
鐵路的招標
鐵路招標
非典
愛滋
sex
Liusishijian
fuck
Shit
BITCH
bitch
fuckyou
TMB
NND
TNND
BC
傻B
傻
b
SB
sb
傻×
傻瓜
日
我日
我奸
靠
我靠
操
我操
批
我拷
狗日的
扒光
白癡
白癡
白爛
包皮
笨蛋
色情
情色
嫖娼
賣淫
淫穢
屄
逼
逼樣
婊子
婊子養的
操機掰
操妳
操妳媽
操妳娘
操妳全家
操妳祖宗
操你全家
操你祖宗
懆您媽
懆您娘
肏
插你
插死你
吃屎
吹簫
打炮
蕩婦
屌
爹娘
放蕩
肥西
幹x娘
幹機掰
幹妳老母
幹妳媽
幹妳馬
幹妳娘
幹你老母
幹你良
幹你娘
幹您娘
幹七八
幹死CS
幹死GM
幹死客服
幹死你
幹
贛您娘
灨你娘
狗狼養的
狗娘養的
狗屁
龜兒子
龜頭
鬼公
花柳
機八
機巴
機機歪歪
雞8
雞八
雞叭
雞吧
雞芭
雞雞
雞奸
雞巴
幾八
幾巴
幾叭
幾芭
妓
妓女
妓院
奸
奸你
姦
賤B
賤貨
賤人
賤
交配
姣西
叫床
她馬的
軍妓
靠爸
靠北
靠背
靠母
靠腰
口肯
懶8
懶八
懶叫
懶教
爛逼
爛貨
爛
浪叫
老二
老母
老味
輪奸
媽B
媽逼
媽比
媽的
媽的B
媽個B
媽媽的
媽
賣B
賣比
淫蕩
淫婦
淫西
奶子
妳她媽的
妳老母的
妳媽的
妳馬的
妳娘的
你她馬的
你媽
你媽的
你馬的
你娘
你娘卡好
你娘咧
你全家
你是雞
你是鴨
你他馬的
你它媽的
你它馬的
屁股
月經
雜種
祖宗
做愛
嫖客
姘頭
僕
僕街
強姦你
日你
日他娘
乳頭
撒尿
塞你爸
塞你公
塞你老母
塞你老師
塞你母
塞你娘
賽妳阿母
賽你老母
三級片
騷
騷逼
駛你爸
駛你公
駛你老母
駛你老師
駛你母
駛你娘
傻比
射精
射你
他媽
他媽ㄉ王八蛋
他馬的
他奶娘的
他娘
他奶奶的
他奶奶
外陰
王八蛋
下賤
下三爛
性愛
性交
性無能
陽具
陽萎
野雞
性
陰唇
陰毛
招妓
小雞雞
小雞巴
大雞巴
卵
精子
卵子
大卵子
大卵泡
小卵子
小卵泡
陰莖
陰道
陰部
屁眼
奶奶的
媽個比
媽個老比
強姦
淫
淫棍
乳房
乳
癟三
剛癟三
小癟三
老癟三
十三點
13點
13\.
剛度
冊那
小乳頭
雞巴
陰戶
濕透的內褲
肉縫
肉棒
淫水
肉壁
肉棍子
口交
肛交
小肉粒
陰核
巨乳
日你媽
日你老母
日你老娘
日批
幹你媽
你奶奶的
賊你媽
操你
操你媽
操你娘
操你奶奶
操你老母
操你老媽
娘的
娘個比
他媽的
她媽的
它媽的
他媽地
她媽地
它媽地
我操你祖宗十八代
奶奶的熊
你個傻比
個老子的
騷貨
騷比
小騷貨
小騷比
老騷貨
老騷比
瓜娃子
瓜婆娘
瓜批
幹你
操比
操逼
後庭
雙峰微顫
貝肉
玉杵
密洞
抽插
乳波臀浪
乳交
打飛機
傻逼
想上你
狗日
黑社會
黑幫老大
黑幫大嫂
地痞流氓
江湖混混
新義安
聯英社
斧頭幫
山口組
三合會
畜之道
黑手黨
青龍幫
竹聯幫
恐怖組織
泰米爾猛虎組織
東突厥斯坦恐怖組織
代理充值
充值管道
低折扣
低價
價低
其他平臺
網路銷售
淘寶
拍拍
5173
先貨後款
批量
優惠
黑卡充值
金牌充值
特價銷售
支持團購
TB
paipai
代充
低價
taobao
便宜
porno
prostitute
pussy
queer
rape
retard
semen
sex
sexual
slut
SOB
sperm
spic
Suck
sucka
sucker
suicide
tit
twat
vulva
wanker
whore
wop
admin
administrator
bug
event
gm
gmmobile
gmnexon
manager
master
mobilegm
mobilemaster
mobilenexon
nexon
nexongm
nexonmaster
nexonmobile
npc
server
staff
support
system
test
Ketamine
kike
lesbien
limey
masturbate
masturbation
mick
moron
motherfuckin
narcotics
negro
nigga
nude
onanism
penis
Philopon
pimp
porn
porno
prostitute
pussy
queer
rape
retard
semen
sex
sexual
slave
slut
SOB
sperm
spic
stfu
Suck
sucka
sucker
suicide
tit
twat
vulva
wanker
whore
wop
wtf
fuck
8==D
8===D
習進平
李克強
習近平
習近平
習進平
李克強
吳綁國
吳邦國
李波
釣魚島
豔照門
尖閣列島
毛澤東
周恩來
劉少奇
朱德
彭德懷
林彪
劉伯承
陳毅
賀龍
聶榮臻
徐向前
羅榮桓
葉劍英
李大釗
陳獨秀
孫中山
孫文
孫逸仙
鄧小平
陳雲
江澤民
李鵬
朱鎔基
李瑞環
尉健行
李嵐清
胡錦濤
羅幹
溫家寶
吳邦國
曾慶紅
賈慶林
黃菊
吳官正
李長春
吳儀
回良玉
曾培炎
周永康
曹剛川
唐家璿
華建敏
陳至立
陳良宇
張德江
張立昌
張德江
俞正聲
劉雲山
王岐山
張高麗
王樂泉
劉雲山
王剛
王兆國
劉淇
賀國強
郭伯雄
胡耀邦
王樂泉
王兆國
周永康
李登輝
連戰
陳水扁
宋楚瑜
呂秀蓮
鬱慕明
蔣介石
蔣中正
蔣經國
馬英九
習近平
李克強
吳幫國
無幫國
無邦國
無幫過
瘟家寶
假慶林
甲慶林
假青林
離長春
習遠平
襲近平
李磕牆
賀過牆
和鍋槍
粥永康
軸永康
肘永康
周健康
粥健康
周小康
李肇星務
國務委員
國務院
中央委員
發改委
國家發展和改革委員會
發展和改革委員會
國家發展與改革委員會
發展與改革委員會
薄熙來
溫家飽
溫假飽
胡驚濤
習仲勳
華國鋒
布希
布雷爾
小泉
純一郎
薩馬蘭奇
安南
阿拉法特
普京
默克爾
克林頓
雷根
尼克森
林肯
杜魯門
赫魯雪夫
列寧
史達林
馬克思
恩格斯
金正日
金日成
薩達姆
胡志明
西哈努克
希拉克
柴契爾
阿羅約
曼德拉
卡斯楚
佛蘭克林
華盛頓
艾森豪
拿破崙
亞歷山大
路易
拉姆斯菲爾德
蘿拉
鮑威爾
奧巴馬
本拉登
奧馬爾
柴玲
達賴喇嘛
江青
張春橋
姚文元
王洪文
東條英機
希特勒
墨索里尼
岡村秀樹
岡村寧次
高麗樸
趙紫陽
王丹
沃爾開西
李洪志
李大師
賴昌星
馬加爵
班禪
額爾德尼
山本五十六
阿扁
阿扁萬歲
熱那亞
熱比婭
尖閣列島
實際神
東方閃電
全能神
安倍晉三
金正恩
恐怖組織
買毒品
賣毒品
茉莉花
釣魚島
釣魚島不屬於中國
突尼斯
gongchandang
新聞出版總署
新聞出版署
處女
房事
押大
押小
坐台
猥褻
猥瑣
肉欲
肉體
排泄
卵子
西藏314事件
新疆7\.5事件
新疆國
黨中央
新聞管制
一邊一國
兩國論
分裂中國
革命
茉莉花
突尼斯
國內動態詳情
回回
六四
六四運動
美國之音
密宗
民國
民進黨
民運
民主
民主潮
摩門教
納粹
南華早報
南蠻
明慧網
起義
親民黨
瘸腿幫
人民報
法輪功
法輪大法
打倒共產黨
台獨萬歲
聖戰
示威
台獨
台獨分子
台聯
臺灣民國
臺灣島國
臺灣國
臺灣獨立
太子党
天安門事件
屠殺
小泉
新黨
新疆獨立
新疆分裂
新疆國
疆獨
西藏獨立
西藏分裂
西藏國
藏獨
藏青會
藏婦會
學潮
學運
一黨專政
一中一台
兩個中國
一貫道
遊行
造反
真善忍
鎮壓
政變
政治
政治反對派
政治犯
中共
共產黨
反黨
反共
政府
民主黨
中國之春
轉法輪
自焚
共黨
共匪
蘇家屯
基地組織
塔利班
東亞病夫
支那
高治聯
高自聯
專政
專制
世界維吾爾大會
核工業基地
核武器
鈾
原子彈
氫彈
導彈
核潛艇
大參考
小參考
國內動態清樣
釋迦牟尼
阿彌陀佛
多維
河殤
摩門教
穆罕默德
聖戰
耶和華
耶穌
伊斯蘭
真主安拉
白蓮教
天主教
基督教
東正教
大法
法輪
法輪功
瘸腿幫
真理教
真善忍
轉法輪
自焚
走向圓滿
黃大仙
跳大神
神漢
神婆
真理教
大衛教
閻王
黑白無常
牛頭馬面
藏獨
高麗棒子
疆獨
蒙古韃子
台獨
台獨分子
台聯
臺灣民國
西藏獨立
新疆獨立
南蠻
老毛子
回民吃豬肉
k粉
古柯鹼
謀殺
殺人
吸毒
販毒
賭博
拐賣
走私
賣淫
造反
強姦
輪奸
搶劫
先奸後殺
押大
押小
押注
下注
抽頭
坐莊
賭馬
賭球
籌碼
老虎機
輪盤賭
安非他命
大麻
可卡因
海洛因
冰毒
搖頭丸
杜冷丁
鴉片
罌粟
迷幻藥
白粉
嗑藥
吸毒
冰毒
冰粉
搞基
約炮
擼管子
處男
黃盤
毛盤
愛滋病
性病
叫春
牛B
牛比
J8
小姐兼職
交媾
毛片
黃片
交配
房事
性事
偷窺
馬拉戈壁
AIDS
aids
Aids
DICK
dick
Dick
penis
sex
SM
屙
愛滋
淋病
梅毒
愛液
屄
逼
臭機八
臭雞巴
吹喇叭
吹簫
催情藥
屌
肛交
肛門
龜頭
黃色
機八
機巴
雞八
雞巴
機掰
機巴
雞叭
雞雞
雞掰
雞奸
妓女
奸
莖
精液
精子
尻
口交
濫交
亂交
輪奸
賣淫
屁眼
嫖娼
強姦
強姦犯
情色
肉棒
乳房
乳峰
乳交
乳頭
乳暈
三陪
色情
射精
手淫
威而鋼
威而柔
偉哥
性高潮
性交
性虐
性欲
穴
顏射
陽物
一夜情
陰部
陰唇
陰道
陰蒂
陰核
陰戶
陰莖
陰門
淫
淫穢
淫亂
淫水
淫娃
淫液
淫汁
淫穴
淫洞
援交妹
做愛
夢遺
陽痿
早洩
姦淫
性欲
性交
Bitch
bt
cao
FUCK
Fuck
fuck
kao
NMD
NND
sb
shit
SHIT
SUCK
Suck
tmd
TMD
tnnd
K他命
白癡
笨蛋
屄
變態
婊子
操她媽
操妳媽
操你
操你媽
操他媽
草你
肏
冊那
側那
測拿
插
蠢豬
蕩婦
發騷
廢物
幹她媽
幹妳
幹妳娘
幹你
幹你媽
幹你媽B
幹你媽b
幹你媽逼
幹你娘
幹他媽
狗娘養的
滾
雞奸
賤貨
賤人
爛人
老母
老土
媽比
媽的
馬的
妳老母的
妳娘的
你媽逼
破鞋
僕街
去她媽
去妳的
去妳媽
去你的
去你媽
去死
去他媽
日
日你
賽她娘
賽妳娘
賽你娘
賽他娘
騷貨
傻B
傻比
傻子
上妳
上你
神經病
屎
屎妳娘
屎你娘
他媽的
王八蛋
我操
我日
鄉巴佬
豬玀
屙
幹
尿
掯
屌
操
騎你
濕了
操你
操他
操她
騎你
騎他
騎她
欠騎
欠人騎
來爽我
來插我
幹你
幹他
幹她
幹死
幹爆
幹機
FUCK
機叭
臭雞
臭機
爛鳥
覽叫
陽具
肉棒
肉壺
奶子
摸咪咪
幹雞
幹入
小穴
強姦
插你
插你
爽你
爽你
幹幹
幹X
我操
他幹
幹它
幹牠
幹您
幹汝
幹林
操林
幹尼
操尼
我咧幹
幹勒
幹我
幹到
幹啦
乾爽
欠幹
狗幹
我幹
來幹
輪幹
輪流幹
幹一干
援交
騎你
我操
輪奸
雞奸
奸暴
再奸
我奸
奸你
奸你
奸他
奸她
奸一奸
淫水
淫濕
雞歪
僕街
臭西
尻
遺精
爛逼
大血比
叼你媽
靠你媽
草你
幹你
日你
插你
奸你
戳你
逼你老母
挨球
我日你
草擬媽
賣逼
狗操賣逼
姦淫
日死
奶子
陰莖
奶娘
他娘
她娘
騷B
你媽了妹
逼毛
插你媽
叼你
渣波波
嫩b
weelaa
締順
帝順
蒂順
系統消息
午夜
看下
草泥馬
法克魷
雅蠛蝶
潛烈蟹
菊花蠶
尾申鯨
吉跋貓
搞栗棒
吟稻雁
達菲雞
SM
ML
3P
群P
馬勒戈壁
雙飛
周恩來
碡
籀
朱駿
朱狨基
朱容基
朱溶劑
朱熔基
朱鎔基
邾
豬操
豬聾畸
豬毛
豬毛1
舳
瘃
躅
翥
專政
顓
爿
隹
窀
卓伯源
倬
斫
諑
髭
鯔
子宮
秭
訾
自焚
自民黨
自慰
自已的故事
自由民主論壇
總理
傯
諏
陬
鄹
鯫
躦
纘
作愛
作秀
阼
祚
做愛
阿扁萬歲
阿萊娜
啊無卵
埃裏克蘇特勤
埃斯萬
艾麗絲
愛滋
愛滋病
垵
暗黑法師
嶴
奧克拉
奧拉德
奧利弗
奧魯奇
奧倫
奧特蘭
㈧
巴倫侍從
巴倫坦
白立樸
白夢
白皮書
班禪
寶石商人
保釣
鮑戈
鮑彤
鮑伊
暴風亡靈
暴亂
暴熱的戰士
暴躁的城塔野獸
暴躁的警衛兵靈魂
暴躁的馬杜克
北大三角地論壇
北韓
北京當局
北美自由論壇
貝尤爾
韝
逼樣
比樣
蹕
颮
鑣
婊子養的
賓周
冰後
博訊
不滅帝王
不爽不要錢
布萊爾
佈雷爾
蔡崇國
蔡啓芳
黲
操鶏
操那嗎B
操那嗎逼
操那嗎比
操你媽
操你爺爺
曹長青
曹剛川
草
草你媽
草擬媽
冊那娘餓比
插那嗎B
插那嗎逼
插那嗎比
插你媽
插你爺爺
覘
蕆
囅
閶
長官沙塔特
常勁
朝鮮
車侖
車侖女幹
沉睡圖騰
陳炳基
陳博志
陳定南
陳建銘
陳景俊
陳菊
陳軍
陳良宇
陳蒙
陳破空
陳水扁
陳唐山
陳希同
陳小同
陳宣良
陳學聖
陳一諮
陳總統
諶
齔
櫬
讖
程凱
程鐵軍
鴟
癡鳩
癡拈
遲鈍的圖騰
持不同政見
赤色騎士
赤色戰士
處女膜
傳染性病
吹簫
春夏自由論壇
戳那嗎B
戳那嗎逼
戳那嗎比
輳
鹺
錯B
錯逼
錯比
錯那嗎B
錯那嗎逼
錯那嗎比
達夫警衛兵
達夫侍從
達癩
打飛機
大參考
大東亞
大東亞共榮
大鶏巴
大紀元
大紀元新聞網
大紀園
大家論壇
大奶媽
大史記
大史紀
大衛教
大中國論壇
大中華論壇
大衆真人真事
紿
戴維教
戴相龍
彈劾
氹
蕩婦
導師
盜竊犯
德維爾
登輝
鄧笑貧
糴
迪裏夏提
覿
地下教會
帝國主義
電視流氓
叼你媽
釣魚島
丁關根
東北獨立
東部地下水路
東方紅時空
東方時空
東南西北論談
東社
東升
東條
東條英機
東突暴動
東突獨立
東土耳其斯坦
東西南北論壇
東亞
東院看守
動亂
鬥士哈夫拉蘇
鬥士霍克
獨裁
獨裁政治
獨夫
獨立臺灣會
俄國
鮞
㈡
發楞
發掄
發掄功
發倫
發倫功
發輪
發論
發論公
發論功
發騷
發正念
法~倫
法~淪
法~綸
法~輪
法~論
法爾卡
法掄
法掄功
法侖
法淪
法綸
法輪大法
法輪功
法十輪十功
法謫
法謫功
反封鎖
反封鎖技術
反腐敗論壇
反人類
反社會
方勵之
防衛指揮官
放蕩
飛揚論壇
廢墟守護者
費鴻泰
費良勇
分隊長施蒂文
粉飾太平
糞便
鱝
豐饒的果實
風雨神州
風雨神州論壇
封從德
封殺
封印的靈魂騎士
馮東海
馮素英
紱
襆
嘸
傅作義
幹bi
幹逼
幹比
幹的你
幹幹幹
幹她
幹你
幹你老比
幹你老母
幹你娘
幹全家
幹死
幹死你
幹他
幹一家
趕你娘
岡巒
剛比
剛比樣子
崗哨士兵
肛門
高麗棒子
高文謙
高薪養廉
高自聯
膏藥旗
戈瑞爾德
戈揚
鴿派
歌功頌德
格雷(關卡排名管理者)
格魯
格魯(城鎮移動)
鯁
工自聯
弓雖
共産
共産黨
共産主義
共黨
共軍
共榮圈
緱
狗誠
狗狼養的
狗娘養的
狗養
狗雜種
覯
轂
古龍祭壇
骨獅
鯝
鴰
詿
關卓中
貫通兩極法
廣聞
嬀
龜兒子
龜公
龜孫子
龜頭
龜投
劌
緄
滾那嗎
滾那嗎B
滾那嗎錯比
滾那嗎老比
滾那嗎瘟比
鯀
咼
郭俊銘
郭羅基
郭岩華
國家安全
國家機密
國軍
國賊
哈爾羅尼
頇
韓東方
韓聯潮
韓正
漢奸
顥
灝
河殤
賀國強
賀龍
黑社會
黑手黨
紅燈區
紅色恐怖
紅炎猛獸
洪傳
洪興
洪哲勝
黌
鱟
胡緊掏
胡錦滔
胡錦淘
胡景濤
胡喬木
胡總書記
湖岸護衛兵
湖岸警衛兵
湖岸哨兵隊長
護法
鸌
華建敏
華通時事論壇
華夏文摘
華語世界論壇
華嶽時事論壇
懷特
鍰
皇軍
黃伯源
黃慈萍
黃禍
黃劍輝
黃金幼龍
黃菊
黃片
黃翔
黃義交
黃仲生
回民暴動
噦
繢
毀滅步兵
毀滅騎士
毀滅射手
昏迷圖騰
混亂的圖騰
鍃
活動
擊倒圖騰
擊傷的圖騰
鶏8
鶏八
鶏巴
鶏吧
鶏鶏
鶏奸
鶏毛信文匯
鶏女
鶏院
姬勝德
積克館
賫
鱭
賈廷安
賈育台
戔
監視塔
監視塔哨兵
監視塔哨兵隊長
鰹
韉
簡肇棟
建國黨
賤B
賤bi
賤逼
賤比
賤貨
賤人
賤種
江八點
江羅
江綿恒
江戲子
江則民
江澤慧
江賊
江賊民
薑春雲
將則民
僵賊
僵賊民
講法
蔣介石
蔣中正
降低命中的圖騰
醬豬媳
撟
狡猾的達夫
矯健的馬努爾
嶠
教養院
癤
揭批書
訐
她媽
屆中央政治局委員
金槍不倒
金堯如
金澤辰
巹
錦濤
經文
經血
莖候佳陰
荊棘護衛兵
靖國神社
㈨
舊斗篷哨兵
齟
巨槌騎兵
巨鐵角哈克
鋸齒通道被遺棄的骷髏
鋸齒通道骷髏
屨
棬
絕望之地
譎
軍妓
開苞
開放雜志
凱奧勒尼什
凱爾本
凱爾雷斯
凱特切爾
砍翻一條街
看中國
闞
靠你媽
柯賜海
柯建銘
科萊爾
克萊恩
克萊特
克勞森
客戶服務
緙
空氣精靈
空虛的伊坤
空虛之地
恐怖主義
瞘
嚳
鄺錦文
貺
昆圖
拉姆斯菲爾德
拉皮條
萊特
賴士葆
蘭迪
爛B
爛逼
爛比
爛袋
爛貨
濫B
濫逼
濫比
濫貨
濫交
勞動教養所
勞改
勞教
鰳
雷尼亞
誄
李紅痔
李洪寬
李繼耐
李蘭菊
李老師
李錄
李祿
李慶安
李慶華
李淑嫻
李鐵映
李旺陽
李小鵬
李月月鳥
李志綏
李總理
李總統
裏菲斯
鱧
轢
躒
奩
連方瑀
連惠心
連勝德
連勝文
連戰
聯總
廉政大論壇
煉功
兩岸關係
兩岸三地論壇
兩個中國
兩會
兩會報道
兩會新聞
廖錫龍
林保華
林長盛
林佳龍
林信義
林正勝
林重謨
躪
淩鋒
劉賓深
劉賓雁
劉剛
劉國凱
劉華清
劉俊國
劉凱中
劉千石
劉青
劉山青
劉士賢
劉文勝
劉文雄
劉曉波
劉曉竹
劉永川
㈥
鷚
龍虎豹
龍火之心
盧卡
盧西德
陸委會
輅
呂京花
呂秀蓮
亂交
亂倫
亂輪
鋝
掄功
倫功
輪大
輪功
輪奸
論壇管理員
羅福助
羅幹
羅禮詩
羅文嘉
羅志明
腡
濼
洛克菲爾特
媽B
媽比
媽的
媽批
馬大維
馬克思
馬良駿
馬三家
馬時敏
馬特斯
馬英九
馬永成
瑪麗亞
瑪雅
嗎的
嗎啡
勱
麥克斯
賣逼
賣比
賣國
賣騷
賣淫
瞞報
毛厠洞
毛賊
毛賊東
美國
美國參考
美國佬
美國之音
蒙獨
蒙古達子
蒙古獨
蒙古獨立
禰
羋
綿恒
黽
民國
民進黨
民聯
民意論壇
民陣
民主墻
緡
湣
鰵
摸你鶏巴
莫偉強
木子論壇
內褲
內衣
那嗎B
那嗎逼
那嗎錯比
那嗎老比
那嗎瘟比
那娘錯比
納粹
奶頭
南大自由論壇
南蠻子
鬧事
能樣
尼奧夫
倪育賢
鯢
你媽
你媽逼
你媽比
你媽的
你媽了妹
你說我說論壇
你爺
娘餓比
捏你鶏巴
儂著岡巒
儂著卵拋
奴隸魔族士兵
女幹
女主人羅姬馬莉
儺
諾姆
潘國平
蹣
龐建國
泡沫經濟
轡
噴你
皮條客
羆
諞
潑婦
齊墨
齊諾
騎你
磧
僉
鈐
錢達
錢國梁
錢其琛
膁
槧
錆
繰
喬石
喬伊
橋侵襲兵
譙
鞽
篋
親美
親民黨
親日
欽本立
禽獸
唚
輕舟快訊
情婦
情獸
檾
慶紅
丘垂貞
詘
去你媽的
闃
全國兩會
全國人大
犬
綣
瘸腿幫
愨
讓你操
熱比婭
熱站政論網
人民報
人民大會堂
人民內情真相
人民真實
人民之聲論壇
人權
日本帝國
日軍
日內瓦金融
日你媽
日你爺爺
日朱駿
顬
乳頭
乳暈
瑞士金融大學
薩達姆
三K黨
三個代表
三級片
三去車侖工力
㈢
毿
糝
騷B
騷棒
騷包
騷逼
騷棍
騷貨
騷鶏
騷卵
殺你全家
殺你一家
殺人犯
傻鳥
煞筆
山口組
善惡有報
上訪
上海幫
上海孤兒院
厙
社會主義
射了還說要
灄
詵
神經病
諗
生孩子沒屁眼
生命分流的圖騰
澠
聖射手
聖戰
盛華仁
濕了還說不要
濕了還說要
釃
鯴
㈩
石化圖騰
石拳戰鬥兵
時代論壇
時事論壇
鰣
史萊姆
史萊姆王
士兵管理員瓦爾臣
世界經濟導報
事實獨立
侍從貝赫爾特
侍從倫斯韋
貰
攄
數據中國
雙十節
氵去車侖工力
氵去車侖工力?
稅力
司馬晉
司馬璐
司徒華
私?服
私處
思科羅
斯諾
斯皮爾德
四川獨
四川獨立
四人幫
㈣
宋書元
藪
蘇菲爾
蘇拉
蘇南成
蘇紹智
蘇特勒守護兵
蘇特勤
蘇特勤護衛兵
蘇特勤魔法師
蘇曉康
蘇盈貴
蘇貞昌
誶
碎片製造商人馬克
碎片製造商人蘇克
孫大千
孫中山
他媽
他媽的
他嗎的
他母親
塔內
塔烏
鰨
闥
臺盟
臺灣帝國
臺灣獨立
臺灣獨
臺灣共産黨
臺灣狗
臺灣建國運動組織
臺灣民國
臺灣青年獨立聯盟
臺灣政論區
臺灣自由聯盟
鮐
太監
泰奴橋警衛兵
泰奴橋掠奪者
湯光中
唐柏橋
鞀
謄
天安門
天安門錄影帶
天安門事件
天安門屠殺
天安門一代
天閹
田紀雲
齠
鰷
銚
庭院警衛兵
統獨
統獨論壇
統戰
頭領奧馬
頭領墳墓管理員
圖書管理員卡特
屠殺
團長戈登
團員馬爾汀
摶
鼉
籜
膃
外交論壇
外交與方略
晚年周恩來
綰
萬裡
萬潤南
萬維讀者論壇
萬曉東
王寶森
王超華
王輔臣
王剛
王涵萬
王滬寧
王軍濤
王樂泉
王潤生
王世堅
王世勛
王秀麗
王兆國
網禪
網特
猥褻
鮪
溫B
溫逼
溫比
溫家寶
溫元凱
閿
無界瀏覽器
吳百益
吳敦義
吳方城
吳弘達
吳宏達
吳仁華
吳淑珍
吳學燦
吳學璨
吳育升
吳志芳
西藏獨
吸收的圖騰
吸血獸
覡
洗腦
系統
系統公告
餼
郤
下賤
下體
薟
躚
鮮族
獫
蜆
峴
現金
現金交易
獻祭的圖騰
鯗
項懷誠
項小吉
嘵
小B樣
小比樣
小參考
小鶏鶏
小靈通
小泉純一郎
謝長廷
謝深山
謝選駿
謝中之
辛灝年
新觀察論壇
新華舉報
新華內情
新華通論壇
新疆獨
新生網
新手訓練營
新聞出版總署
新聞封鎖
新義安
新語絲
信用危機
邢錚
性愛
性無能
修煉
頊
虛弱圖騰
虛無的飽食者
徐國舅
許財利
許家屯
許信良
諼
薛偉
學潮
學聯
學運
學自聯
澩
閹狗
訁
嚴家其
嚴家祺
閻明複
顔清標
顔慶章
顔射
讞
央視內部晚會
陽具
陽痿
陽物
楊懷安
楊建利
楊巍
楊月清
楊周
姚羅
姚月謙
軺
搖頭丸
藥材商人蘇耐得
藥水
耶穌
野鶏
葉菊蘭
夜話紫禁城
一陀糞
㈠
伊莎貝爾
伊斯蘭
伊斯蘭亞格林尼斯
遺精
議長阿茵斯塔
議員斯格文德
異見人士
異型叛軍
異議人士
易丹軒
意志不堅的圖騰
瘞
陰部
陰唇
陰道
陰蒂
陰戶
陰莖
陰精
陰毛
陰門
陰囊
陰水
淫蕩
淫穢
淫貨
淫賤
尹慶民
引導
隱者之路
鷹眼派氏族
硬直圖騰
憂鬱的艾拉
尤比亞
由喜貴
遊蕩的僵屍
游蕩的士兵
游蕩爪牙
遊錫坤
遊戲管理員
友好的魯德
幼齒
幼龍
於幼軍
余英時
漁夫菲斯曼
輿論
輿論反制
傴
宇明網
齬
飫
鵒
元老蘭提(沃德）
圓滿
緣圈圈
遠志明
月經
韞
雜種
鏨
造愛
則民
擇民
澤夫
澤民
賾
賊民
譖
紮卡維是英雄
驏
張伯笠
張博雅
張鋼
張健
張林
張清芳
張偉國
張溫鷹
張昭富
張志清
章孝嚴
帳號
賬號
招鶏
趙海青
趙建銘
趙南
趙品潞
趙曉微
趙紫陽
貞操
鎮壓
爭鳴論壇
正見網
正義黨論壇
㊣
鄭寶清
鄭麗文
鄭義
鄭餘鎮
鄭源
鄭運鵬
政權
政治反對派
縶
躑
指點江山論壇
騭
觶
躓
中毒的圖騰
中毒圖騰
中俄邊界
中國復興論壇
中國共産黨
中國孤兒院
中國和平
中國論壇
中國社會進步黨
中國社會論壇
中國威脅論
中國問題論壇
中國移動通信
中國真實內容
中國之春
中國豬
中華大地
中華大衆
中華講清
中華民國
中華人民實話實說
中華人民正邪
中華時事
中華養生益智功
中華真實報道
中央電視臺
鐘山風雨論壇
周鋒鎖
周守訓
朱鳳芝
朱立倫
朱溶劑
㈱
豬聾畸
主攻指揮官
主義
助手威爾特
專制
顓
轉化
諑
資本主義
鯔
子宮
自民黨
自由民主論壇
總理
諏
鯫
躦
纘
作愛
做愛
胡總書記
胡景濤
大紀元
大紀元新聞網
燕玲論壇
fuck
共產黨
urban
我操
cao
他媽的
TMD
雞巴
煞筆
傻B
法輪功
江澤民
胡錦濤
溫家寶
urban-rivals
rivals
我日
UR
ur
性交
口交
婊子
妓女
她媽
牛逼
牛B
牛比
煞筆
傻逼
傻B
操你媽
裝逼
裝B
日你媽
不玩了
刪號
賣號
刪
號
媽的
媽逼
草你媽
T\.M\.D
JB
jb
出售帳號
出售此號
賣號
U/R
U-R
j8
嗎的
8仙
狗日
出售神符
色情
黃色
藏獨
台獨
法輪大法
雞巴
毛澤東
NPC
*法*輪*功*
*李*洪*志*阿扁
阿扁萬歲
阿拉
阿拉法特
挨球
安南
安全局
澳洲光明網
八九
八九風波
辦理文憑
辦理證件
包皮
保釣
保監會
保密局
鴇
鮑嶽橋
暴動
暴亂
暴徒
北京之春
貝肉
本?拉登
本?拉登
苯比
笨屄
笨逼
屄
屄毛
逼毛
逼你老母
逼樣
比毛
婊
婊子
賓周
冰毒
波霸
博訊
薄一波
布雷爾
佈雷爾
布希
布希
財政部
參事室
藏獨
藏獨
藏獨
操
操GM
操Gm
操gM
操gm
操XX
操逼
操比
操蛋
操你
交媾
CAO
K粉
J8
小姐兼職
交媾
西藏314事件
新疆7\.5事件
亂倫
毛片
黃片
交配
群交
小姐兼職
茉莉花革命
操你八輩祖宗
操你媽
操你媽屄
操他
曹剛川
草的你媽
草媽
草你媽
草擬媽
肏
測繪局
插GM
插Gm
插gM
插gm
插妳
插你
插你媽
插深些
產權局
朝鮮
車臣
車侖
陳功
陳良宇
陳水扁
陳希同
陳曉寧
陳毅
陳至立
成人電影
成人片
吃大便
吃屎
遲浩田
赤匪
抽插
抽你丫的
臭化西
出售假幣
出售槍支
出售手槍
吹喇叭
吹簫
春藥
蠢豬
戳你
粗制嗎啡
催情藥
達賴
達賴喇嘛
打炮
大B
大逼
大便
大波波
大麻
大麻樹脂
大麻油
大師
大衛教
大學騷亂
大血B
大血比
呆卵
戴海靜
戴紅
戴晶
大衛教
黨主席
蕩婦
檔案局
盜竊犯
盜竊犯
道教
鄧小平
帝國主義
電監會
叼你
叼你媽
屌
屌7
屌鳩
屌毛
屌妳
屌七
屌西
釣魚臺
丁關根
丁子霖
東北獨立
東升
東條英機
東突
東突暴動和獨立
東突組織
東亞病夫
董建華
董賤華
董文華
懂文華
獨立
獨立臺灣會
恩格斯
二B
二屄
二逼
二乙基醯胺發掄
發掄功
發倫
發倫功
發輪
發論
發論公
發論功
發騷
法(輪)功
法*輪*功
法功
法愣
法侖
法輪
法輪大法
法輪功
法西斯
法制辦
反動
反革命
發票
冰粉
性奴
反共
反華
反恐委員會
反日
反政府
分裂祖國
佛教
佛展千手法
佛祖
斧頭鐮刀
阝月
傅鵬
傅作義
幹GM
幹Gm
幹gM
幹gm
幹拎娘
幹妳
幹妳老母
幹妳媽
幹妳娘
幹你
幹你媽
幹你媽b
幹你媽逼
幹你娘
幹七八
幹死你
肛
肛交
肛門
港澳辦
高俊
高麗棒子
高校暴亂
高校群體事件
高校騷亂
睾
睾丸
膏藥旗
弓雖女幹
公安
公安部
公安局
共產黨
共產主義
共匪
共狗
狗b
狗操
狗卵
狗娘
狗屁
狗日
狗日的
狗屎
觀世音
官逼民反
官商勾結
龜兒子
龜公
龜孫子
龜頭
鬼村
滾
郭伯雄
國安局
國防部
國防科工委
國管局
國際法院
國家民委
國家主席
國家主要部委
國民黨
國民黨萬歲
海洛因
海洋局
何候華
賀國強
賀龍
黑社會
黑手黨
黑手黨
黑手黨
紅衛兵
洪興
洪志
後庭
胡XX
胡緊濤
胡緊掏
胡緊套
胡錦濤
胡錦淘
胡喬木
胡耀邦
胡主席
花柳
華國鋒
華建敏
換妻
黃
菊
黃菊
黃色電影
黃色小電影
回教
回良玉
回民暴動
回族人吃豬肉
昏藥
火棒
機八
機巴
雞八
雞巴
雞叭
雞芭
雞掰
雞奸
基地組織
基督
基督教
激情電影
激情小電影
雞
計牌軟體
計生委
妓
妓女
妓院
賈慶林
奸
姦夫淫婦
奸你
姦淫
賤
賤逼
賤貨
賤人
江Core
江八
江八點
江獨裁
江核心
江青
江戲子
江擇民
江澤民
江賊民
江折民
江豬
江豬媳
江主席
僵賊民
疆獨
蔣介石
蔣經國
蔣中正
醬豬媳
交通部
姣西
叫床
叫雞
叫小姐
教育部
她媽的金日成
金正日
禁書
經濟社會理事會
經社理事會
精液
精子
警匪一家
敬國神社
靖國神社
靜坐
糾察員
鳩
鳩屎
軍長髮威
軍國主義
軍妓
尻
靠
靠你媽
靠腰
可待因
可卡葉
可卡因
克林頓
恐怖份子
恐怖主義
口交
寇曉偉
狂操
狂操你全家
拉登
拉姆斯菲爾德
懶教
爛B
爛屄
爛逼
爛比
爛屌
爛貨
勞+教+所
勞動保障部
老逼
老毛子
老母
黎陽評
李長春
李登輝
李弘旨
李紅志
李宏旨
李宏志
李洪志
李嵐清
李鵬
李鵬*
李瑞環
李山
李鐵映
李先念
連戰
聯大
聯合國
聯合國大會
聯易
聯易互動
糧食局
兩腿之間
列寧
林彪
林業局
劉
淇
劉軍
劉淇
劉少奇
劉雲山
流氓
六\.四
六。四
六?四
六合彩
六四
六-四
六四事件
六四真相
龍新民
呂秀蓮
旅遊局
卵
輪功
輪奸
羅
幹
羅幹
騾幹
媽逼
媽比
媽賣媽屁
媽批
媽祖
媽B
媽的
麻醉鋼槍
麻醉槍
麻醉藥
麻醉乙醚
馬克思
馬賣馬屁
馬英九
嗎啡
嗎啡堿
嗎啡片
買財富
買賣槍支
麥角酸
賣\.國
賣B
賣ID
賣QQ
賣逼
賣比
賣財富
賣党求榮
賣國
賣國求榮
賣號
賣卡
賣軟體
賣淫
毛XX
毛廁洞
毛一鮮
毛澤東
毛賊東
毛主席
梅花網
美國
美國佬
美國之音
美利堅
蒙塵藥
蒙獨
蒙古達子
蒙古獨立
迷魂藥
迷奸藥
迷殲藥
迷藥
密洞
密宗
民航局
民進黨
民運
民政部
明慧網
摩門教
莫索裡尼
穆罕默德
穆斯林
乳頭
奶子
妳老母的
妳媽的
妳馬的
妳娘的
南聯盟
南蠻子
南蠻子
嫩B
嫩b
伱媽
你爸
你大爺
你二大爺
你老母
你老味
你姥
你姥姥的
你媽
你媽逼
你媽的
你娘
你爺爺的
鳥GM
鳥Gm
鳥gM
鳥gm
鳥你
牛逼
牛比
農業部
虐待
拍肩神藥
噴你
彭真
皮條
屁眼
嫖客
蘋果日報
破壞
破鞋
僕街
普京
氣象局
錢其琛
槍決女犯
槍決現場
槍支彈藥
強姦
強姦犯
強衛
強效失意藥
強硬發言
搶劫
喬石
僑辦
切七
竊聽器
竊聽器材
親民黨
青天白日
情色
去你媽的
去死
全國人大
瘸腿幫
人大
人大代表
人代會
人彈
人民
人民大會堂
人民廣場
人民日報
人民銀行
人體炸彈
日GM
日Gm
日gM
日gm
日X媽
日本RING
日本鬼子
日你
日你媽
日你娘
日他娘
肉棒
肉壁
肉洞
肉縫
肉棍
肉棍子
肉穴
乳
乳波臀浪
乳房
乳交
乳頭
撒尿
薩達姆
塞白
塞你爸
塞你公
塞你老母
塞你老師
塞你母
塞你娘
三個呆婊
三個代婊
三級片
三民主義
三陪
三陪女
三去車侖
三唑侖
騷
騷B
騷逼
騷貨
騷
色情
色情電影
色情服務
色情小電影
殺人犯
傻B
傻屄
傻逼
傻比
傻吊
傻卵
傻子
煞逼
商務部
上妳
上你
社科院
射精
身份生成器
神經病
神通加持法
生鴉片
聖女峰
十八摸
十年動亂石進
食撚屎
食屎
駛你爸
駛你公
駛你老母
駛你老師
駛你母
駛你娘
是雞
手淫
受虐狂
售ID
售號
售軟體
雙峰微顫
氵去
水利部
水去車侖
稅務總局
司法部
私服
私/服
私\\服
私服
私-服
私—服
史達林
死gd
死GD
死gm
死GM
死全家
四川獨立
四人幫
宋楚瑜
宋祖英
孫文
孫逸仙
孫中山
他爹
他媽
他媽的
他馬的
他母親
他祖宗
台辦
台獨
台聯
臺灣黨
臺灣帝國
臺灣獨立
臺灣共產黨
臺灣共和國
臺灣狗
臺灣國
臺灣民國
太監
太子党
唐家璿
天皇陛下
田紀雲
舔西
投毒殺人
透視軟體
推油
外
掛
外掛
外/掛
外\\掛
外_掛
外掛
外-掛
外—掛
外匯局
外交部
外專局
晚年周恩來
萬稅
王八蛋
王寶森
王剛
王昊
王樂泉
王岐山
王太華
王兆國
王震
網管
威而鋼
威而柔
衛生部
尉健行
溫加寶
溫家寶
溫家保
溫馨
溫總理
文化部
文物局
倭國
倭寇
我操
我操你
我幹
我妳老爸
我日
我日你
無界流覽器
吳
儀
吳邦國
吳官正
吳儀
五星紅旗
西藏獨立
西藏天葬
希拉克
希特勒
希望之聲
洗腦班
系統
系統公告
系統訊息
鮮族
鄉巴佬
想上你
小雞雞
小泉
小泉純一郎
小日本
小肉粒
小乳頭
小穴
邪教
新疆獨立
興奮劑
性愛
性交
性虐待
性無能
性欲
徐光春
學潮
血逼
血腥圖片
鴉片
鴉片液
鴉片渣
煙草局
嚴方軍
陽精
陽具
搖頭丸
搖頭玩
耶和華
耶蘇
耶穌
葉劍英
夜情
一黨專制
一貫道
一國兩制
一夜情
一中一台
伊拉克
伊朗
伊斯蘭
以莖至洞
抑制劑
陰部
陰唇
陰道
陰蒂
陰核
陰戶
陰莖
陰毛
陰水
陰小撕大
淫
淫蕩
淫穢
淫貨
淫賤
淫叫
淫毛
淫靡
淫水
淫娃
淫語連連
淫欲
英雄紀念碑
硬挺
郵政局
遊戲發獎員
遊戲宮理員
遊戲管理員
遊行
俞正聲
輿論鉗制
玉杵
欲火焚身
原子能機構
援交
遠程偷拍
曰GM
曰Gm
曰gM
曰gm
曰你
月經
月經不調
月經
紮卡維是英雄
雜種
造反
曾培炎
曾慶紅
紮卡維
張朝陽
張潮陽
張德江
張磊
張立昌
張小平
趙紫陽
偵探設備
真理教
中國恐怖組織
中華民國
中南海
中宣部
周恩來
周永康
周總理
朱德
朱容雞
朱容基
朱熔基
朱鎔基
朱總理
豬操
豬容基
主席
轉法輪
轉法輪
裝屄
裝逼
追查國際
子女任職名單
自焚
自殺手冊
自殺指南
自製手槍
自治機關
宗教
總局
總理
作愛
坐台的
做愛
共產黨
江澤民
胡錦濤
溫家寶
嚴方軍
屄毛
操逼毛
東突
騷貨
法輪功
江澤民
胡錦濤
溫家寶
urban-rivals
rivals
u
r
ur
我日
UR
ur
性交
口交
U
R
taobao
webgame\.com\.cn
婊子
妓女
他媽
她媽
牛逼
牛比
牛B
煞筆
傻逼
傻B
你媽
操你媽
裝逼
裝B
日你媽
不玩了
刪號
賣號
垃圾遊戲
爛遊戲
刪
號
媽的
媽逼
草你媽
T\.M\.D
JB
jb
淘寶
出售帳號
出售此號
賣號
U/R
U-R
c
a
o
j8
嗎的
8仙
狗日
出售神符
色情
黃色
h站
龍虎
虎門
龍
虎
門
WEB牌戰
WEB戰牌
戰牌
8
仙
ＵＲ
ur
UR
街頭對抗
藏獨
台獨
法輪大法
混
沌決
ur
UR
urban
雞巴
坐台的
作愛
總理
宗教
自治機關
自製手槍
我叫MT
我叫M
MT
我叫mt
mt
m1t
M1T
叫M
叫m
wojiaomt
wojiaoMT
WOJIAOMT
大掌門
掌門
大掌
掌1門
大1掌
dazhangmen
DAZHANGMEN
萌江湖
萌江
江湖
萌1江
江1湖
mengjianghu
MENGJIANGHU
口袋西遊
口袋
西遊
口1袋
AV
2girls1cup
anal
ass
asshole
ahole
allah
ancuak
anjing
anjink
anjir
annus
anus
anuss
arsch
arschloch
arse
arsehole
arseholes
asa
asaka
ashole
asiasoft
assbag
assbandit
assbanger
asscock
asscracker
assface
assfawk
assfok
assfuk
asshead
asshed
assholes
asshols
assholz
assjobs
assjacker
asskisser
asslick
asslicker
assliker
assmonkey
assmunch
assmuncher
assniger
assnigger
asssucker
asswipe
asu
auschwitz
ausschwitz
autis
azzface
azzhole
azzholz
azzhead
azzkizzer
azzlicker
azzliker
azzwipe
boobies
bolbol
boner
biatch
bitch
bitches
bastard
babi
bacot
bading
badass
baiser
bajingan
bancet
banci
bangke
bangsat
basstard
bassterd
bassturd
basterd
basturd
bego
bejad
bellend
bencong
benga
bigass
bilat
bitchass
bitchie
bitchy
blowjob
blatch
bloon
bltch
boobs
bodat
bollocks
bolot
boob
bougnoul
brengsek
budek
bullshlt
bunghole
bunting
burit
buta
butoh
butt
buttplug
buttbreath
buttface
butthead
butthole
buttpicker
buttplcker
buttsex
buttwipe
buttwlpe
coochie
coochy
cooter
cock
cocksucker
cockmaster
cockmuncher
cocknose
cocknugget
coitus
cabron
cacad
cacat
camfrog
carpetmuncher
celeng
cemera
cepirit
chode
chibay
chingga
chink
chinky
chuj
chwdp
cibai
cibay
cipa
cipap
cipo
cipotok
cipsko
clit
clitface
cllt
cockass
cockbite
cockface
cockhead
cocks
cocksniffer
comberan
comepollas
comepoyas
connard
conyo
crotch
crap
cuki
cukimai
cul
cum
cumslut
cumsucker
cunnilingus
czarnuch
dookie
doggiestyle
dong
dick
dickface
dickhole
dickhead
dickjuice
dickmilk
dicks
dickslap
dicksucker
dicksucking
dike
dildo
dilldo
dilldoe
dipshlt
deepthroat
dickbag
dickbeaters
dilldov
dlck
dlke
dlldo
dllldo
dllldoe
dlpshlt
dogglestyle
doggystyle
drecksau
drecksjude
dumass
dumbass
dumbfuc
dumbfucc
dyoga
dyke
encular
endsieg
fellatio
feltch
facker
facha
fag
faggot
fak
falangista
fascista
fatass
fcuk
fcuked
fcukin
fcuking
feitch
fiucie
fiut
follada
fook
fooker
fooking
fotze
foutre
foyada
fuccen
fuk
fukah
fuken
fuker
fukin
fukk
fukkah
fukken
fukker
fukkin
fvck
gooch
gathel
gay
gayass
gaydo
geblek
gembel
genderuwo
germo
gila
goatse
goblok
grossemerde
hooker
hoor
hoore
hoar
holycrap
homo
honkey
honkie
honky
hore
horny
horrny
handjob
haram
hardon
heilhitler
hijoputa
hitler
hoj
homos
homosexual
hrny
hrrny
huj
humping
hwdp
iblis
intercourse
islam
itil
joga
jism
jiss
jizm
jizz
jerk
jerkoff
jablai
jablay
jackass
jackingoff
jackoff
jadah
jahanam
jalid
jamban
jancok
jancuk
japseye
jebanie
jebca
jelek
jembut
jerkass
jiancuk
jigaboo
jilipollas
jizalot
jizin
jizlot
jlss
jlzm
jlzz
joder
joymax
juancok
judenmutter
kooch
kootch
kacrut
kalapia
kalempong
kampang
kampret
kampung
kampungan
kamseupay
kanciang
kebo
kecepirit
keparat
kike
kimak
kiriq
kolor
konek
kontol
konyo
korwa
kote
kotok
kunt
kuntil
kuntilanak
kunts
kuntz
kunyuk
kupal
kupaloid
kupaloids
kurwa
kurwia
kurwiszon
kutafon
kutas
kyke
lameass
lancau
lanciau
lanciaw
lancirik
leckmich
lekong
lesbo
lesbian
lezzie
loco
lonte
lonthe
lubangpuki
moron
motherfuk
maho
mamada
mamado
mamarla
masterbate
masturbate
masturbation
mbahmu
mcfagget
memek
menyan
mineciarz
minge
mong
monyed
monyet
monyong
moraco
munging
muslim
myass
nigar
nigger
nigga
niggaboo
niggar
niggr
nigguh
niglet
nigr
nigur
nipple
negro
nazi
ndasmu
neger
negro
negrata
negrero
nekrofil
ngehe
ngentot
ngepet
ngewe
niga
nigaboo
nigger
nigga
niggaboo
niggaz
niggers
nigguh
niglet
nigs
niiger
niigr
niquer
nlgar
nlggar
nlgger
nlggr
nlgr
nlgur
nutsack
nutsuck
nyingnying
nyoli
nyolot
odbyt
odjebalo
odpierdol
oranggila
orgasim
orgasm
orgasum
poon
pollock
porchmonkey
porn
piss
piss
pissed
pissed
pecker
pepe
pajear
pajote
paki
pakis
panooch
panchito
pantat
pantek
payudara
peckerhead
pecun
pederasta
pedofila
pedófila
peju
pejuh
pekpek
pemai
penis
pendeho
pendo
penispuffer
pentil
penus
perek
peyang
phuc
phuck
phuk
phukk
picek
pierdol
pierdolic
pierdolona
pissflaps
pizda
plss
polesmoker
polla
poonani
poonany
poontang
poop
porchmonkey
porno
poya
prostitute
pric
prick
prik
pricks
prostituir
proxeneta
przejebane
przyjeb
psk
pussy
puki
punanny
pussies
pussies
pusse
pussee
pussylicking
puta
putain
pute
puzzy
queef
queer
queerbait
queerhole
qweers
qweerz
rimjob
renob
rapist
racista
raecarruth
raghead
ragheads
rallig
ramera
rammeln
rape
rassenlehre
rattig
recktum
rectum
reichskristall
reisfresser
retard
retrasada
retrasado
retrd
reubeu
ril
rimming
rital
roach
robber
rosbif
rosette
rozpierdolone
rozpierdolony
ruchanie
ruhanie
rula
ruski
ruskoff
ruskov
siut
sexaddict
sexmachine
sandnigguh
sackgesicht
sadomaso
sadomasochistic
sadomasoquismo
sadomasoquista
salop
salopard
salope
samckdaddy
samen
sampah
sandm
sandnigger
sarap
sarasa
sarracena
sarraceno
satan
saubeutel
sauhund
sausagejockey
scat
schamhaar
scheiss
schlong
schlampe
schleu
schleuh
schlitzauge
schutzstaffel
schwanz
schwuchtel
scrote
scum
sedeng
seks
semen
semprul
sepong
setan
sex
sexdoll
shag
shaggers
shaggin
shagging
shat
shawtypimp
sheeplover
sheeplovers
sheepshaggers
sheethead
sheetheads
sheister
shhit
shiit
shiz
shiznit
shyte
sial
sialan
sikek
sinnfein
sinting
skeet
skanck
skank
skanks
skorwiel
skurwiel
slag
slanteye
slut
slutbag
sluts
slutt
slutting
slutty
slutwear
slutwhore
smeg
smackdaddy
smackthemonkey
smagma
smartass
snatch
snortingcoke
sompret
sonofabitch
sonofbitch
sontoloyo
soplapollas
spook
spacka
spast
spasten
spasti
spaz
sperm
spic
spick
splooge
spunk
spunkbubble
sranie
stupid
stupidmoron
suckass
suckdick
sucker
sudaca
testicle
tard
tablo
tae
taek
tai
tete
tetek
tiko
tit
titit
tits
titt
tlt
tltt
tokay
tolol
tot
tranny
tuyul
twat
twats
twatlips
twatwaffle
udik
vibrator
vag
vags
vajj
vading
vagiina
vagina
vagi
vagllna
vaglna
vajiina
vajina
vajllna
vajlna
verga
vergasen
vibrtor
violar
violer
vjayjay
vlbrator
vlbrtor
vulva
wop
wetback
wank
wanker
wedhus
whoor
whore
whorebag
whoreface
wtf
wyjebac
wyjebany
wypierdol
xrated
xxx
youjizz
youporn
zajebane
zajebany
zakar
garena
賣元寶
賣帳號
賣幣
賣點
法輪功
哭爸
子宮
打手槍
收卡
肉棒
智障
換帳號
帳號
幣卡所
懶叫
懶趴
懶教
懶葩
燕生　
芝馬
芝人
空白ID
掛爽爽
bot
外掛
查緝
異常
獎品
稽核
稽察
緝查
你老母
你娘
我不爽
肛門
挺綠
挺藍
破遊戲誰要玩
陰唇
陰核
競舞娛樂
Garena
GArena
GARena
GAREna
GARENa
GARENA
Garena GM
台灣競舞娛樂有限公司
GM
gm
版主
廣播
公告
系統
專員
客服
管理員
客服人員
客服專員
測試專員
測試人員
客服中心
客服測試人員
技術測試人員
dthero客服
dthero客服人員
dthero客服專員
線上客服
線上客服人員
線上客服專員
DTHERO客服
DTHERO客服人員
DTHERO客服專員
線上GM
特派員
線上特派員
在線GM
官方
派遣員
官方人員
官方專員
幣商
專賣
garena
GaRena
GaREna
GaRENa
GaRENA
Garena_GM
競舞娛樂
Garena
GarenaGM
Garenagm
Garena版主
Garena廣播
Garena公告
Garena系統
Garena專員
Garena客服
Garena管理員
Garena客服人員
Garena客服專員
Garena測試人員
Garena測試專員
Garena客服中心
Garena客服測試人員
Garena技術測試人員
Garena_DTHERO客服
Garena_DTHERO客服人員
Garena_DTHERO客服專員
Garena線上客服
Garena線上客服人員
Garena線上客服專員
Garena_DTHERO客服
Garena_DTHERO客服人員
Garena_DTHERO客服專員
Garena線上GM
Garena特派員
Garena線上特派員
Garena在線GM
Garena官方
Garena派遣員
Garena官方人員
Garena官方專員
Garena幣商
Garena專賣
GaReNa
GarEna
GarENa
GarENA
Garena-GM
競舞台
garen
garenaGM
garenagm
garena版主
garena廣播
garena公告
garena系統
garena專員
garena客服
garena管理員
garena客服人員
garena客服專員
garena測試專員
garena測試人員
garena客服中心
garena客服測試人員
garena技術測試人員
garena_DTHERO客服
garena_DTHERO客服人員
garena_DTHERO客服專員
garena線上客服
garena線上客服人員
garena線上客服專員
garena_dthero客服
garena_dthero客服人員
garena_dthero客服專員
garena線上GM
garena特派員
garena線上特派員
garena在線GM
garena官方
garena派遣員
garena官方人員
garena官方專員
garena幣商
garena專賣
gArEnA
GareNa
GareNA
poker
台灣競舞
GGC
GGCGM
GGCgm
GGC版主
GGC廣播
GGC公告
GGC系統
GGC專員
GGC客服
GGC管理員
GGC客服人員
GGC客服專員
GGC測試專員
GGC測試人員
GGC客服中心
GGC客服測試人員
GGC技術測試人員
GGC_dthero客服
GGC_dthero客服人員
GGC_dthero客服專員
GGC線上客服
GGC線上客服人員
GGC線上客服專員
GGC_DTHERO客服
GGC_DTHERO客服人員
GGC_DTHERO客服專員
GGC線上GM
GGC特派員
GGC線上特派員
GGC在線GM
GGC官方
GGC派遣員
GGC官方人員
GGC官方專員
GGC幣商
GGC專賣
G.A.R.E.N.A
gArena
gARena
gAREna
gARENa
gARENA
POKER
GarenaTW
ggc
ggcGM
ggcgm
ggc版主
ggc廣播
ggc公告
ggc系統
ggc專員
ggc客服
ggc管理員
ggc客服人員
ggc客服專員
ggc測試專員
ggc測試人員
ggc客服中心
ggc客服測試人員
ggc技術測試人員
ggc_DTHERO客服
ggc_DTHERO客服人員
ggc_DTHERO客服專員
ggc線上客服
ggc線上客服人員
ggc線上客服專員
ggc_garena客服
ggc_garena客服人員
ggc_garena客服專員
ggc線上GM
ggc特派員
ggc線上特派員
ggc在線GM
ggc官方
ggc派遣員
ggc官方人員
ggc官方專員
ggc幣商
ggc專賣
G-A-R-E-N-A
gaRena
gaREna
gaRENa
gaRENA
Poker
Garena小幫手
競舞娛樂
競舞娛樂GM
競舞娛樂gm
競舞娛樂版主
競舞娛樂廣播
競舞娛樂公告
競舞娛樂系統
競舞娛樂專員
競舞娛樂客服
競舞娛樂管理員
競舞娛樂客服人員
競舞娛樂客服專員
競舞娛樂測試專員
競舞娛樂測試人員
競舞娛樂客服中心
競舞娛樂客服測試人員
競舞娛樂技術測試人員
競舞娛樂garena客服
競舞娛樂garena客服人員
競舞娛樂garena客服專員
競舞娛樂線上客服
競舞娛樂線上客服人員
競舞娛樂線上客服專員
競舞娛樂DTHERO客服
競舞娛樂DTHERO客服人員
競舞娛樂DTHERO客服專員
競舞娛樂線上GM
競舞娛樂特派員
競舞娛樂線上特派員
競舞娛樂在線GM
競舞娛樂官方
競舞娛樂派遣員
競舞娛樂官方人員
競舞娛樂官方專員
競舞娛樂幣商
競舞娛樂專賣
G-A-R-E-N-A
garEna
garENa
garENA
Garena小天使
競舞台
競舞台GM
競舞台gm
競舞台版主
競舞台廣播
競舞台公告
競舞台系統
競舞台專員
競舞台客服
競舞台管理員
競舞台客服人員
競舞台客服專員
競舞台測試專員
競舞台測試人員
競舞台客服中心
競舞台客服測試人員
競舞台技術測試人員
競舞台DTHERO客服
競舞台DTHERO客服人員
競舞台DTHERO客服專員
競舞台線上客服
競舞台線上客服人員
競舞台線上客服專員
競舞台dthero客服
競舞台dthero客服人員
競舞台dthero客服專員
競舞台線上GM
競舞台特派員
競舞台線上特派員
競舞台在線GM
競舞台官方
競舞台派遣員
競舞台官方人員
競舞台官方專員
競舞台幣商
競舞台專賣
gareNa
gareNA
台灣競舞
台灣競舞GM
台灣競舞gm
台灣競舞版主
台灣競舞廣播
台灣競舞公告
台灣競舞系統
台灣競舞專員
台灣競舞客服
台灣競舞管理員
台灣競舞客服人員
台灣競舞客服專員
台灣競舞測試專員
台灣競舞測試人員
台灣競舞客服中心
台灣競舞客服測試人員
台灣競舞技術測試人員
台灣競舞dthero客服
台灣競舞dthero客服人員
台灣競舞dthero客服專員
台灣競舞線上客服
台灣競舞線上客服人員
台灣競舞線上客服專員
台灣競舞DTHERO客服
台灣競舞DTHERO客服人員
台灣競舞DTHERO客服專員
台灣競舞線上GM
台灣競舞特派員
台灣競舞線上特派員
台灣競舞在線GM
台灣競舞官方
台灣競舞派遣員
台灣競舞官方人員
台灣競舞官方專員
台灣競舞幣商
台灣競舞專賣
GarenaTW
GarenaTWGM
GarenaTWgm
GarenaTW版主
GarenaTW廣播
GarenaTW公告
GarenaTW系統
GarenaTW專員
GarenaTW客服
GarenaTW管理員
GarenaTW客服人員
GarenaTW客服專員
GarenaTW測試專員
GarenaTW測試人員
GarenaTW客服中心
GarenaTW客服測試人員
GarenaTW技術測試人員
GarenaTW_DTHERO客服
GarenaTW_DTHERO客服人員
GarenaTW_DTHERO客服專員
GarenaTW線上客服
GarenaTW線上客服人員
GarenaTW線上客服專員
GarenaTW_dthero客服
GarenaTW_dthero客服人員
GarenaTW_dthero客服專員
GarenaTW線上GM
GarenaTW特派員
GarenaTW線上特派員
GarenaTW在線GM
GarenaTW官方
GarenaTW派遣員
GarenaTW官方人員
GarenaTW官方專員
GarenaTW幣商
GarenaTW專賣
GarenaTW
GarenaTWGM
GarenaTWgm
GarenaTW版主
GarenaTW廣播
GarenaTW公告
GarenaTW系統
GarenaTW專員
GarenaTW客服
GarenaTW管理員
GarenaTW客服人員
GarenaTW客服專員
GarenaTW測試專員
GarenaTW測試人員
GarenaTW客服中心
GarenaTW客服測試人員
GarenaTW技術測試人員
GarenaTW_dthero客服
GarenaTW_dthero客服人員
GarenaTW_dthero客服專員
GarenaTW線上客服
GarenaTW線上客服人員
GarenaTW線上客服專員
GarenaTW_DTHERO客服
GarenaTW_DTHERO客服人員
GarenaTW_DTHERO客服專員
GarenaTW線上GM
GarenaTW特派員
GarenaTW線上特派員
GarenaTW在線GM
GarenaTW官方
GarenaTW派遣員
GarenaTW官方人員
GarenaTW官方專員
GarenaTW幣商
GarenaTW專賣
幹
幹他
幹她
幹死
幹死你
幹死你奶奶
幹死你母
幹死你全家
幹死你妹
幹死你爸
幹死你娘
幹死你爹
幹死你祖宗
幹死你媽
幹死你爺爺
幹死妳
幹死妳奶奶
幹死妳母
幹死妳全家
幹死妳妹
幹死妳爸
幹死妳娘
幹死妳爹
幹死妳祖宗
幹死妳媽
幹死妳爺爺
幹你
幹你奶奶
幹你母
幹你全家
幹你老木
幹你良
幹你妹
幹你爸
幹你娘
幹你爹
幹你祖宗
幹你梁
幹你媽
幹你爺爺
幹妳
幹妳奶奶
幹妳母
幹妳全家
幹妳老木
幹妳妹
幹妳爸
幹妳娘
幹妳爹
幹妳祖宗
幹妳媽
幹妳爺爺
幹拎
幹拎娘
幹林
幹林娘
幹您
幹您老幕
幹暴
幹暴你
幹暴你奶奶
幹暴你母
幹暴你全家
幹暴你妹
幹暴你爸
幹暴你娘
幹暴你祖宗
幹暴你媽
幹暴你爺爺
幹暴妳
幹暴妳奶奶
幹暴妳母
幹暴妳全家
幹暴妳妹
幹暴妳爸
幹暴妳娘
幹暴妳祖宗
幹暴妳媽
幹暴妳爺爺
幹暴幹你爹
幹暴幹妳爹
幹機巴
幹擬娘
幹爆
幹爆你
幹爆你全家
幹爆你爸
幹爆你娘
幹爆你祖宗
幹爆你媽
幹爆你爺爺
幹爆妳
幹爆妳奶奶
幹爆妳母
幹爆妳全家
幹爆妳妹
幹爆妳爸
幹爆妳娘
幹爆妳娘
幹爆妳祖宗
幹爆妳媽
幹爆妳爺爺
幹爆幹你爹
操死你
操死你奶奶
操死你母
操死你全家
操死你妹
操死你爸
操死你娘
操死你爹
操死你祖宗
操死你媽
操死你爺爺
操死妳
操死妳奶奶
操死妳母
操死妳全家
操死妳妹
操死妳爸
操死妳娘
操死妳爹
操死妳祖宗
操死妳媽
操死妳爺爺
操你奶奶
操你母
操你全家
操你妹
操你爸
操你娘
操你爹
操你祖宗
操你媽
操你爺爺
操妳奶奶
操妳母
操妳全家
操妳妹
操妳爸
操妳娘
操妳爹
操妳祖宗
操妳媽
操妳媽b
操妳爺爺
ㄊㄇㄉ
ㄐㄅ
ㄐ八
ㄐ巴
ㄐ掰
ㄑㄋㄉ
刁
口交
口淫
仆街
手淫
日你媽
欠人幹
他娘的
他媽的
北七
去你的
去你媽的
去你媽的蛋蛋
奶子
白濫
白癡
白爛
穴
尻
吊你
吊你好撚
吊你老母
吊你老味
吊佢佬未
吊妳好撚
吊妳老母
吊妳老味
吃屎
好撚廢
她娘的
她媽的
她媽的
死妓女
死婊
死雞巴
老母
老娼
老婊
自慰
作愛
你老母
你娘卡好
你娘的
你媽的
吹蕭
含撚
妓女
屁眼
我操你老母
肖查某
妳娘卡好
妳娘的
妳媽的
官方
性交
性虐待
性高潮
狗母養
狗娘
狗養的
狗雜碎
狗雜種
阻橪住曬
屄
俗啦
姦
客服
屌
屌你
哭腰
肉洞
肉捧
肉棒
肉棍
你娘78
流淫水
食撚
食撚妹
食撚屎啦
屌你
屌你老母含家
屌妳老母含家
唔燃同佢
臭妓女
臭表子
臭婊
臭婊子
臭機八
臭雞雞
耖你老幕
基掰
娼
婊
婊子
婊子養的兒子
強奸
強姦
強暴
您娘卡好
淫
淫
淫婦
淫蕩
淦
被狗幹
陰毛
陰門
陰莖
陰道
陰囊
援交
智障
陽具
陽物
陽莖
雲起
塞妮糧勒
睪丸
跡掰
鳩
嫩B
嫩b
榦
精液
睾丸
撚
賤
賤人
賤屄
賤胚
賤婊
賤貨
賣淫
靠ㄠ
靠么
靠妖
噁爛
閪
bitch
fuck
中共
甘霖老母
尻手槍
早洩
老共
卵子
妓
妓女
勃起
相幹
屌
射精
娼
婊 
婊子
強姦
強暴
陰莖粉嫩嫩
陰蒂
插爆
媽的
媽逼
幹
幹你娘
幹你媽
愛液
嫖娼
精子
精蟲
賤種
賣淫
靠背
靠腰
靠邀
操
操你媽
機八
機掰
激掰
積掰
龜頭
糙
糙你媽
糙妳媽
糙雞掰
績掰
賽你娘
賽妳娘
雜交
雜碎
雜種
雞八
雞巴
雞扒
雞奸
雞吧
雞姦
雞歪
雞掰
雞頭
懶叫
懶趴
懶啪
騷貨
鹹家鏟
爛交
爛妓女
爛婊
爛貨
爛雞
爛雞巴
贛
RMB
中出
中國人民解放軍
中國共產黨
中國國民黨
仆
反共
反動
反黨
包皮
台獨
台聯
台灣民主聯盟
台灣獨立
奶炮
奶砲
奶頭
民主進步黨
民進黨
民盟
交易網
共軍
共匪
共黨
冰毒
吸毒
宋楚瑜
屁眼
馬皇
乳頭
武力統一
姦殺
姦淫
施明德
毒品
紅衫軍
倒扁
倒馬
海洛因
馬英九
國民政府
國民黨
國民黨
國共合作
梅毒
淋病
淫水
莖肛
處女膜
釣魚台
陳水扁
陰唇
陰核
陰莖
陰道
智障
測試
陽具
陽萎
幹你娘
解放軍
遊戲金幣
遊戲銀行
精水
蔣介石
賤人
賤女人
賤貨
賣150點
賣300點
賣350點
賣400點
賣帳號
賣幣
賣點
鴉片
親民黨
總統
罌粟
黨派
口交
王八蛋
代客練功
甘林娘
甘林涼
甘林媽
甘您老母
收水餃
挖雞巴濕搭搭
飛彈打台灣
帶老闆練功
帶客練功
李登輝
援交
援助交際
換小朋友
歐塞康
雞歪歪
獸交
懶教
懶葩
广
么
皑
蔼
碍
爱
袄
奥
坝
罢
摆
败
颁
办
绊
帮
绑
镑
谤
剥
饱
宝
报
鲍
辈
贝
钡
狈
备
惫
绷
笔
毕
毙
币
闭
边
编
贬
变
辩
辫
标
鳖
别
瘪
濒
滨
宾
摈
饼
拨
钵
铂
驳
补
财
参
残
惭
惨
灿
苍
舱
仓
沧
厕
侧
册
测
层
诧
搀
掺
蝉
馋
谗
缠
铲
产
阐
颤
场
尝
长
偿
肠
畅
钞
车
彻
尘
陈
衬
撑
称
惩
诚
骋
迟
驰
耻
齿
炽
冲
宠
畴
踌
筹
绸
橱
厨
锄
雏
础
储
处
传
疮
闯
创
锤
纯
绰
辞
词
赐
聪
葱
囱
从
丛
凑
蹿
窜
错
达
带
贷
担
单
郸
掸
胆
惮
诞
弹
当
挡
荡
档
捣
岛
祷
导
盗
灯
邓
敌
涤
递
缔
颠
点
垫
电
钓
调
谍
叠
钉
顶
锭
订
丢
东
动
栋
冻
犊
独
读
赌
镀
锻
断
缎
兑
队
对
顿
钝
夺
堕
鹅
额
讹
恶
饿
尔
饵
贰
发
罚
阀
珐
矾
钒
烦
贩
饭
访
纺
飞
诽
废
费
纷
坟
奋
愤
粪
枫
锋
风
疯
冯
缝
讽
凤
肤
辐
抚
辅
赋
负
讣
妇
缚
该
钙
盖
秆
赣
冈
刚
钢
纲
岗
镐
搁
鸽
阁
铬
个
给
龚
宫
巩
贡
钩
沟
购
够
蛊
顾
剐
关
观
馆
惯
贯
广
规
归
龟
闺
轨
诡
贵
刽
辊
滚
锅
国
过
骇
韩
汉
号
阂
鹤
贺
横
恒
轰
鸿
红
壶
护
沪
户
哗
华
画
话
欢
环
还
缓
换
唤
痪
焕
涣
黄
谎
挥
辉
毁
贿
秽
会
烩
汇
讳
诲
绘
荤
浑
获
货
祸
击
积
饥
迹
讥
鸡
绩
缉
辑
级
挤
蓟
剂
济
计
记
际
继
纪
夹
荚
颊
贾
钾
驾
歼
监
坚
笺
间
艰
缄
检
碱
硷
拣
捡
简
俭
减
槛
鉴
践
贱
见
键
舰
剑
饯
渐
溅
涧
将
浆
蒋
桨
奖
讲
酱
胶
浇
骄
娇
搅
铰
矫
侥
脚
饺
缴
绞
轿
较
阶
节
结
诫
届
紧
锦
仅
谨
进
晋
烬
尽
劲
荆
茎
鲸
经
颈
静
镜
径
痉
竞
净
纠
厩
旧
驹
举
锯
惧
剧
鹃
绢
觉
决
诀
绝
钧
军
骏
开
凯
颗
壳
课
垦
恳
抠
库
裤
块
侩
宽
矿
旷
况
亏
岿
窥
馈
溃
扩
阔
莱
来
赖
蓝
栏
拦
篮
阑
兰
澜
谰
揽
览
懒
缆
烂
滥
捞
劳
涝
乐
镭
垒
类
泪
鲤
礼
丽
厉
励
砾
历
傈
沥
隶
俩
联
莲
连
镰
涟
敛
脸
链
恋
炼
练
粮
凉
两
辆
谅
疗
辽
镣
猎
临
邻
鳞
凛
赁
龄
铃
灵
领
馏
刘
龙
聋
咙
笼
垄
拢
陇
楼
娄
搂
篓
芦
卢
颅
庐
炉
掳
卤
虏
鲁
赂
禄
录
陆
驴
吕
铝
侣
屡
缕
虑
滤
绿
峦
挛
孪
滦
乱
抡
轮
伦
仑
沦
纶
论
萝
罗
逻
锣
箩
骡
骆
络
妈
玛
码
蚂
马
骂
吗
买
麦
卖
迈
脉
瞒
馒
蛮
满
谩
猫
锚
铆
贸
酶
没
镁
门
闷
们
锰
梦
谜
弥
觅
幂
绵
缅
庙
灭
悯
闽
鸣
铭
谬
谋
亩
呐
钠
纳
难
挠
脑
恼
闹
馁
内
拟
腻
撵
酿
鸟
聂
啮
镊
镍
柠
狞
拧
钮
纽
脓
浓
农
疟
诺
欧
鸥
殴
呕
沤
盘
庞
抛
赔
喷
鹏
伞
丧
骚
扫
涩
杀
刹
纱
筛
删
闪
陕
赡
缮
墒
伤
赏
烧
绍
赊
摄
慑
设
绅
审
婶
肾
渗
声
绳
师
狮
湿
诗
时
蚀
实
识
驶
势
释
饰
视
试
寿
兽
枢
输
书
赎
属
术
树
竖
数
帅
双
谁
税
顺
说
硕
烁
丝
饲
耸
怂
颂
讼
诵
擞
苏
诉
肃
虽
随
绥
岁
孙
损
笋
缩
琐
锁
獭
挞
酞
态
摊
贪
瘫
滩
坛
谭
谈
叹
汤
烫
涛
绦
讨
腾
誊
锑
题
屉
条
贴
铁
厅
烃
铜
统
头
秃
图
团
颓
蜕
脱
鸵
驮
驼
椭
袜
弯
湾
顽
韦
违
围
为
潍
维
苇
伟
伪
纬
谓
卫
温
闻
纹
稳
问
挝
蜗
涡
窝
卧
呜
钨
乌
诬
无
芜
吴
坞
雾
务
误
锡
牺
袭
习
铣
戏
细
虾
辖
峡
侠
狭
厦
吓
锨
鲜
纤
贤
衔
闲
显
险
现
献
县
馅
宪
线
厢
镶
乡
详
响
项
萧
嚣
销
晓
啸
协
挟
携
胁
谐
写
泻
谢
锌
衅
兴
汹
锈
绣
虚
嘘
须
许
叙
绪
续
轩
悬
选
癣
绚
学
勋
询
寻
驯
训
讯
逊
压
鸦
鸭
哑
亚
讶
阉
烟
盐
严
颜
阎
艳
厌
砚
彦
谚
验
鸯
杨
扬
疡
阳
养
样
瑶
摇
尧
遥
窑
谣
药
爷
页
业
叶
医
铱
颐
遗
仪
蚁
艺
亿
忆
义
诣
议
谊
译
绎
荫
阴
银
饮
隐
樱
婴
鹰
应
缨
莹
萤
营
荧
蝇
赢
颖
哟
拥
痈
咏
忧
邮
铀
犹
诱
舆
鱼
渔
娱
屿
语
狱
誉
预
驭
鸳
渊
辕
园
员
圆
缘
远
约
跃
钥
粤
悦
阅
郧
匀
陨
运
蕴
酝
晕
韵
杂
灾
载
攒
暂
赞
赃
脏
凿
枣
责
择
则
泽
贼
赠
轧
铡
闸
栅
诈
斋
债
毡
盏
斩
辗
崭
栈
战
绽
张
涨
帐
账
胀
赵
蛰
辙
锗
这
贞
针
侦
诊
镇
阵
挣
睁
狰
争
帧
郑
证
织
职
执
纸
挚
掷
帜
质
滞
钟
终
肿
众
诌
轴
皱
昼
骤
猪
诸
诛
烛
瞩
嘱
贮
铸
驻
专
砖
转
赚
桩
装
妆
壮
状
锥
赘
坠
缀
谆
着
浊
兹
资
渍
踪
综
总
纵
邹
诅
组
钻





亘
丨
丿
鼗
丶
芈
啬
厍
厣
厮
靥
赝
匦
匮
赜
刂
刭
刿
剀
劐
冂
亻
仫
伛
伥
伧
伫
伲
侪
侬
俦
俨
俪
俣
倮
偾
偬
偻
傥
傧
傩
氽
佥
籴
黉
冁
勹
凫
亠
兖
衮
亵
脔
禀
冫
凇
冖
讠
讦
讧
讪
讴
讵
讷
诂
诃
诋
诏
诎
诒
诓
诔
诖
诘
诙
诜
诟
诠
诤
诨
诩
诮
诰
诳
诶
诹
诼
诿
谀
谂
谄
谇
谌
谏
谑
谒
谔
谕
谖
谙
谛
谘
谝
谟
谠
谡
谥
谧
谪
谫
谮
谯
谲
谳
谵
谶
卩
卺
阝
陉
陧
邝
邬
邺
郏
郐
郄
郓
郦
刍
奂
劢
勐
廴
凼
厶
巯
垩
垡
圹
坜
坂
垅
垆
垭
垲
垧
垴
埘
埚
埙
埯
埝
塄
塬
墚
艹
芗
苈
苊
苋
苌
苁
芪
苄
苎
苷
茏
苘
茑
茚
茔
茕
荛
荜
荞
荟
荠
荦
荥
荨
荩
荬
荪
荭
荮
莳
莴
莜
莅
莶
莸
莺
莼
萘
萜
萦
葜
蒇
蒈
蒉
蒌
蓦
蒽
蓠
蓥
蓣
蔸
蔹
蔺
蕲
薮
藓
藁
蘖
奁
尴
扌
扪
抟
挢
掴
掼
揸
揿
揞
摅
撄
撷
撸
撺
擀
甙
弑
卟
叽
吖
呋
呒
呓
呖
吡
呗
呙
吣
吲
咔
咛
咝
哐
咴
哒
哓
哔
咣
哕
哌
哙
哚
哜
咤
哝
唛
唠
唢
唣
啧
啉
啭
唿
喹
喽
喾
嗪
嗫
嗬
嗳
嗵
辔
嘞
嘤
嘣
嘭
噍
噜
噔
噻
噼
嚯
囵
帏
帱
帻
帼
幞
岖
岘
岙
岚
岜
岽
峁
峄
峤
峥
崂
崃
嵘
崾
嵛
嵝
嵴
巅
徕
彡
犭
犷
犸
狍
狯
狲
猃
猡
猕
猹
猬
猸
夂
饣
饧
饨
饩
饪
饫
饬
饴
饷
饽
馀
馄
馇
馊
馍
馐
馑
馓
馔
馕
庑
赓
廪
忄
怃
怄
忾
怅
怆
怿
恸
恹
恻
恺
恽
悭
惬
愠
愦
憷
懔
闩
闫
闱
闳
闵
闶
闼
闾
阃
阄
阆
阈
阊
阋
阌
阍
阏
阒
阕
阖
阗
阙
阚
丬
氵
沣
沩
泷
泸
沲
泺
泾
浃
浈
浍
浏
浒
浔
涞
涠
浜
渎
渑
渖
渌
溆
滟
滠
滢
溻
滗
潆
潇
漤
潋
潴
濑
灏
宀
骞
辶
迩
迳
逦
彐
屦
弪
妩
妪
妫
姗
娅
娆
娈
姹
娲
娴
婵
胬
媪
嫒
嫔
嫱
嬷
尜
驵
驷
驸
驺
驿
驽
骀
骁
骅
骈
骊
骐
骒
骓
骖
骘
骛
骜
骝
骟
骠
骢
骣
骥
骧
纟
纡
纣
纥
纨
纩
纭
纰
纾
绀
绁
绂
绉
绋
绌
绐
绔
绗
绛
绠
绡
绨
绫
绮
绯
绱
绲
缍
绶
绺
绻
绾
缁
缂
缃
缇
缈
缋
缌
缏
缑
缒
缗
缙
缜
缛
缟
缡
缢
缣
缤
缥
缦
缧
缪
缫
缬
缭
缯
缰
缱
缲
缳
缵
幺
巛
玑
玮
珏
珑
珉
顼
玺
珲
琏
瑷
璎
瓒
韪
韫
韬
杩
枥
枧
枨
枞
枭
栉
栊
栌
栀
栎
柽
桠
桡
桢
桤
桕
桦
桧
栾
桊
棂
椟
椠
椤
椁
榄
榀
榘
榇
榈
榉
槟
槠
樯
橥
橹
橼
檩
檫
殁
殇
殒
殓
殚
殡
轫
轭
轱
轲
轳
轵
轶
轸
轷
轹
轺
轼
轾
辁
辂
辄
辇
辋
辍
辎
辏
辘
辚
軎
戋
戗
戬
瓯
攴
昙
晔
晖
晗
暧
贲
贳
贶
贻
贽
赀
赅
赆
赈
赉
赇
赍
赕
赙
觇
觊
觋
觌
觎
觏
觐
觑
犟
牦
犏
毪
毵
氇
氩
氲
攵
敫
牍
肟
肼
肽
肷
胧
胨
胩
胪
胫
脍
脎
脒
脶
脲
腈
腙
腚
腼
腽
腭
膑
膪
臁
欤
飑
飒
飓
飕
飙
飚
毂
齑
斓
炀
炜
炝
炻
烀
烨
焖
煳
煅
煊
煺
熘
灬
焘
礻
祢
祯
禅
怼
悫
懑
戆
肀
泶
矶
砀
砗
砘
砜
砹
砺
砻
砼
硖
硗
硇
碛
碜
碹
磙
礴
龛
眍
眦
睐
睑
睃
畲
疃
罴
罱
羁
钅
钆
钇
钋
钊
钌
钍
钏
钐
钔
钗
钕
钚
钛
钜
钣
钤
钫
钪
钭
钬
钯
钰
钲
钴
钶
钷
钸
钹
钺
钼
钽
钿
铄
铈
铉
铊
铋
铌
铍
铎
铐
铑
铒
铕
铖
铗
铙
铘
铛
铞
铟
铠
铢
铤
铥
铧
铨
铪
铩
铫
铮
铯
铳
铴
铵
铷
铹
铼
铽
铿
锃
锂
锆
锇
锉
锊
锍
锎
锏
锒
锓
锔
锕
锖
锘
锛
锝
锞
锟
锢
锪
锫
锩
锬
锱
锲
锴
锶
锷
锸
锼
锾
锿
镂
锵
镄
镅
镆
镉
镌
镎
镏
镒
镓
镔
镖
镗
镘
镙
镛
镞
镟
镝
镡
镢
镤
镥
镦
镧
镨
镩
镪
镫
镬
镯
镱
镲
镳
锺
稆
穑
鸠
鸢
鸨
鸩
鸪
鸫
鸬
鸲
鸱
鸶
鸸
鸷
鸹
鸺
鸾
鹁
鹂
鹄
鹆
鹇
鹈
鹉
鹋
鹌
鹎
鹑
鹕
鹗
鹚
鹛
鹜
鹞
鹣
鹦
鹧
鹨
鹩
鹪
鹫
鹬
鹱
鹭
鹳
疒
疖
疠
疬
疴
疱
痃
痖
痨
痫
瘅
瘗
瘘
癀
瘿
瘾
癍
癞
癔
癫
癯
窦
窭
衤
裆
裢
裣
裥
褛
褴
皲
耠
耢
耥
耧
耱
聍
聩
顸
颀
颃
颉
颌
颍
颏
颔
颚
颛
颞
颟
颡
颢
颥
颦
虬
虿
蚬
蛎
蛏
蛱
蛲
蛳
蛴
蝈
蝽
蝾
蝰
螋
蝼
螨
蟮
罂
笃
笕
笾
筚
筝
筻
筢
箦
箧
箨
箪
箢
箫
篑
篼
簖
籁
舣
舭
舻
舾
袅
羟
籼
粝
粜
糁
糇
糍
絷
麸
趱
酰
酽
酾
醌
鹾
趸
跄
跞
跷
跸
跹
跻
踬
踯
踺
蹑
蹒
蹰
躏
躜
觞
觯
靓
雳
霁
霭
龀
龃
龅
龆
龇
龈
龉
龊
龌
黾
鼋
鼍
隽
雠
銮
錾
鐾
鱿
鲂
鲅
鲆
鲇
鲈
稣
鲋
鲎
鲐
鲑
鲒
鲔
鲕
鲚
鲛
鲞
鲟
鲠
鲡
鲢
鲣
鲥
鲦
鲧
鲨
鲩
鲫
鲭
鲮
鲰
鲱
鲲
鲳
鲴
鲵
鲶
鲷
鲺
鲻
鲼
鲽
鳄
鳅
鳆
鳇
鳊
鳋
鳌
鳍
鳎
鳏
鳐
鳓
鳔
鳕
鳗
鳘
鳙
鳜
鳝
鳟
鳢
鞑
鞒
鞯
鞲
鞴
鹘
骶
骺
髅
髋
髌
魇
魉
飨
餍
鬏
鬓
麽
黢
黩
黪
鼹
齄
8591
bitch
Bitch
bot
boxun
cdjp
dafa
damn
dfdz
falu
falun
FU.CK U
fuck
ＦＵＣＫ
FUCK
Fuck
fuck
ｆｕｃｋ
fuck
K他命
naive
nmis
Runup
shit
svdc
taip
ㄊㄇㄉ
ㄐㄅ
ㄐ八
ㄐ巴
ㄐ掰
ㄑㄋㄉ
三級片
口交
口淫
大奶
大同
大長莖
大隻佬
大隻佬二
小穴
小妞來打砲
小李他媽的飛刀
中出
手淫
日你媽
月卡販賣商
欠人幹
王八蛋
他娘的
他媽
他媽的
代客練功
包皮
北七
北攬
去你的
去你媽的
四腳獸
外掛
奶子
奶炮
奶砲
奶頭
尻手槍
扒穴
打手槍
打炮
甘李良狗田幾歪
甘林娘
甘林涼
甘林媽
甘您老母
甘霖
甘霖老母
生殖
甩甩奶
白濫
白癡
白爛
吃屎
吊你
吊你好撚
吊你老母
吊你老味
吊佢佬未
吊妳好撚
吊妳老母
吊妳老味
在線GM
她娘的
她媽的
好撚廢
收水餃
收卡
早洩
死人
死全家
死妓女
死婊
死雞巴
米青蟲
老二六寸長
老母
老娼
老婊
肉洞
肉棍
肉棒
自慰
舌忝女乃豆頁
作愛
你老母
你娘
你娘78
你娘卡好
你娘的
你媽的
卵子
含撚
吸毒
吹蕭
妓女
屁眼
我是暴露狂
我操你老母
戒急用忍
私服
肖查某
肛門
肛門中間好香
身寸米青
乳頭
妳娘卡好
妳娘的
性奴隸
性交
性虐待
性高潮
性愛
東條英機
狗母養
狗男女
狗娘
狗養的
狗雜碎
狗雜種
芝人
芝馬
金北七
阻橪住曬
勃起
姦殺
姦淫
屌你
屌你老母含家
挖雞巴濕搭搭
毒品
流淫水
相幹
食撚
食撚妹
食撚屎啦
收皮吃粥
哭爸
哭腰
唔燃同佢
姬芭
射精
海洛因
破遊戲誰要玩
耖你老幕
臭妓女
臭表子
臭婊
臭婊子
臭機八
臭雞雞
草枝擺
草枝擺啊趕羚羊
草基掰 
做愛
基掰
婊子
婊子養的兒子
專業獸交員
帳號管理員
帶老闆練功
帶老闆練功
帶客練功
強奸
強姦
強暴
您娘卡好
掛爽爽
梅毒
涵沛
淋病
淫水
淫穴
淫婦
異常
莖肛
處女膜
處女膜狙擊手
被我襙 
被狗幹
被捅
陰毛
陰門
陰唇
陰核
陰莖
陰莖粉嫩嫩
陰蒂
陰道
陰囊
插爆
換小朋友
援交
援助交際
智障
無敵舔精肛
給狗榦
陽具
陽物
陽莖
陽萎
雲起
塞妮糧勒
媽的
媽逼
幹他
幹她
幹死
幹死你
幹死你奶奶
幹死你母
幹死你全家
幹死你妹
幹死你爸
幹死你娘
幹死你爹
幹死你祖宗
幹死你媽
幹死你爺爺
幹死妳
幹死妳奶奶
幹死妳母
幹死妳全家
幹死妳妹
幹死妳爸
幹死妳娘
幹死妳爹
幹死妳祖宗
幹死妳媽
幹死妳爺爺
幹你
幹你奶奶
幹你母
幹你全家
幹你老木
幹你良
幹你妹
幹你爸
幹你娘
幹你爹
幹你祖宗
幹你梁
幹你媽
幹你爺爺
幹妳
幹妳奶奶
幹妳母
幹妳全家
幹妳老木
幹妳妹
幹妳爸
幹妳娘
幹妳爹
幹妳祖宗
幹妳媽
幹妳爺爺
幹拎
幹拎
幹拎娘
幹林
幹林
幹林娘
幹您
幹您
幹您老幕
幹暴
幹暴你
幹暴你奶奶
幹暴你母
幹暴你全家
幹暴你妹
幹暴你爸
幹暴你娘
幹暴你祖宗
幹暴你媽
幹暴你爺爺
幹暴妳
幹暴妳奶奶
幹暴妳母
幹暴妳全家
幹暴妳妹
幹暴妳爸
幹暴妳娘
幹暴妳祖宗
幹暴妳媽
幹暴妳爺爺
幹暴幹你爹
幹暴幹妳爹
幹機
幹機巴
幹擬
幹擬娘
幹爆
惹我
愛液
搖頭丸
搞我好嗎
睪丸
筱姬芭
跡掰
夢遺大師
嫖娼
嫩穴
嫩枝擺
幣卡所
幣商
槓暴妳後庭
睾丸
精子
精水
精液
精蟲
舔乃頭
趕羚羊
趕羚羊草隻擺
銬妖
慰安婦
賣150點
賣300點
賣350點
賣400點
賣CANDY
賣CASH
賣POINT
賣元寶
賣卡
賣帳號
賣淫
賣幣
賣點
賣點卡
賤人
賤女人
賤屄
賤胚
賤婊
賤貨
賤貨
賤種
靠ㄠ
靠么
靠妖
靠背
靠腰
靠邀
鴉片
操死
操你奶奶
操你母
操你全家
操你妹
操你爸
操你娘
操你爹
操你祖宗
操你媽
操你媽
操你媽
操你爺爺
操妳奶奶
操妳母
操妳全家
操妳妹
操妳爸
操妳娘
操妳爹
操妳祖宗
操妳媽
操妳媽b
操妳爺爺
機八
機巴
機歪
機掰
激掰
積掰
龜頭
龜頭
龜蘭勃火
擠蘭較自殺
營養大雞排
營養老雞排
糙你媽
糙妳媽
糙雞掰
績掰
賽你娘
賽妳娘
賽羚羊
藍叫
藍教頭
藍鳥
雜交
雜碎
雜種
雞八
雞巴
雞扒
雞奸
雞吧
雞拔毛
雞爬
雞姦
雞歪
雞歪歪
雞排
雞掰
雞頭
懶叫
懶趴
懶啪
懶教
懶葩
獸交
罌粟
騷貨
鹹家鏟
黨派
爛交
爛妓女
爛婊
爛貨
爛鳥
爛雞
爛雞巴
攬較
贛林老木
贛林老母
贛林老師
广
么
皑
蔼
碍
爱
袄
奥
坝
罢
摆
败
颁
办
绊
帮
绑
镑
谤
剥
饱
宝
报
鲍
辈
贝
钡
狈
备
惫
绷
笔
毕
毙
币
闭
边
编
贬
变
辩
辫
标
鳖
别
瘪
濒
滨
宾
摈
饼
拨
钵
铂
驳
补
财
参
残
惭
惨
灿
苍
舱
仓
沧
厕
侧
册
测
层
诧
搀
掺
蝉
馋
谗
缠
铲
产
阐
颤
场
尝
长
偿
肠
畅
钞
车
彻
尘
陈
衬
撑
称
惩
诚
骋
迟
驰
耻
齿
炽
冲
宠
畴
踌
筹
绸
橱
厨
锄
雏
础
储
处
传
疮
闯
创
锤
纯
绰
辞
词
赐
聪
葱
囱
从
丛
凑
蹿
窜
错
达
带
贷
担
单
郸
掸
胆
惮
诞
弹
当
挡
荡
档
捣
岛
祷
导
盗
灯
邓
敌
涤
递
缔
颠
点
垫
电
钓
调
谍
叠
钉
顶
锭
订
丢
东
动
栋
冻
犊
独
读
赌
镀
锻
断
缎
兑
队
对
顿
钝
夺
堕
鹅
额
讹
恶
饿
尔
饵
贰
发
罚
阀
珐
矾
钒
烦
贩
饭
访
纺
飞
诽
废
费
纷
坟
奋
愤
粪
枫
锋
风
疯
冯
缝
讽
凤
肤
辐
抚
辅
赋
负
讣
妇
缚
该
钙
盖
秆
赣
冈
刚
钢
纲
岗
镐
搁
鸽
阁
铬
个
给
龚
宫
巩
贡
钩
沟
购
够
蛊
顾
剐
关
观
馆
惯
贯
广
规
归
龟
闺
轨
诡
贵
刽
辊
滚
锅
国
过
骇
韩
汉
号
阂
鹤
贺
横
恒
轰
鸿
红
壶
护
沪
户
哗
华
画
话
欢
环
还
缓
换
唤
痪
焕
涣
黄
谎
挥
辉
毁
贿
秽
会
烩
汇
讳
诲
绘
荤
浑
获
货
祸
击
积
饥
迹
讥
鸡
绩
缉
辑
级
挤
蓟
剂
济
计
记
际
继
纪
夹
荚
颊
贾
钾
驾
歼
监
坚
笺
间
艰
缄
检
碱
硷
拣
捡
简
俭
减
槛
鉴
践
贱
见
键
舰
剑
饯
渐
溅
涧
将
浆
蒋
桨
奖
讲
酱
胶
浇
骄
娇
搅
铰
矫
侥
脚
饺
缴
绞
轿
较
阶
节
结
诫
届
紧
锦
仅
谨
进
晋
烬
尽
劲
荆
茎
鲸
经
颈
静
镜
径
痉
竞
净
纠
厩
旧
驹
举
锯
惧
剧
鹃
绢
觉
决
诀
绝
钧
军
骏
开
凯
颗
壳
课
垦
恳
抠
库
裤
块
侩
宽
矿
旷
况
亏
岿
窥
馈
溃
扩
阔
莱
来
赖
蓝
栏
拦
篮
阑
兰
澜
谰
揽
览
懒
缆
烂
滥
捞
劳
涝
乐
镭
垒
类
泪
鲤
礼
丽
厉
励
砾
历
傈
沥
隶
俩
联
莲
连
镰
涟
敛
脸
链
恋
炼
练
粮
凉
两
辆
谅
疗
辽
镣
猎
临
邻
鳞
凛
赁
龄
铃
灵
领
馏
刘
龙
聋
咙
笼
垄
拢
陇
楼
娄
搂
篓
芦
卢
颅
庐
炉
掳
卤
虏
鲁
赂
禄
录
陆
驴
吕
铝
侣
屡
缕
虑
滤
绿
峦
挛
孪
滦
乱
抡
轮
伦
仑
沦
纶
论
萝
罗
逻
锣
箩
骡
骆
络
妈
玛
码
蚂
马
骂
吗
买
麦
卖
迈
脉
瞒
馒
蛮
满
谩
猫
锚
铆
贸
酶
没
镁
门
闷
们
锰
梦
谜
弥
觅
幂
绵
缅
庙
灭
悯
闽
鸣
铭
谬
谋
亩
呐
钠
纳
难
挠
脑
恼
闹
馁
内
拟
腻
撵
酿
鸟
聂
啮
镊
镍
柠
狞
拧
钮
纽
脓
浓
农
疟
诺
欧
鸥
殴
呕
沤
盘
庞
抛
赔
喷
鹏
伞
丧
骚
扫
涩
杀
刹
纱
筛
删
闪
陕
赡
缮
墒
伤
赏
烧
绍
赊
摄
慑
设
绅
审
婶
肾
渗
声
绳
师
狮
湿
诗
时
蚀
实
识
驶
势
释
饰
视
试
寿
兽
枢
输
书
赎
属
术
树
竖
数
帅
双
谁
税
顺
说
硕
烁
丝
饲
耸
怂
颂
讼
诵
擞
苏
诉
肃
虽
随
绥
岁
孙
损
笋
缩
琐
锁
獭
挞
酞
态
摊
贪
瘫
滩
坛
谭
谈
叹
汤
烫
涛
绦
讨
腾
誊
锑
题
屉
条
贴
铁
厅
烃
铜
统
头
秃
图
团
颓
蜕
脱
鸵
驮
驼
椭
袜
弯
湾
顽
韦
违
围
为
潍
维
苇
伟
伪
纬
谓
卫
温
闻
纹
稳
问
挝
蜗
涡
窝
卧
呜
钨
乌
诬
无
芜
吴
坞
雾
务
误
锡
牺
袭
习
铣
戏
细
虾
辖
峡
侠
狭
厦
吓
锨
鲜
纤
贤
衔
闲
显
险
现
献
县
馅
宪
线
厢
镶
乡
详
响
项
萧
嚣
销
晓
啸
协
挟
携
胁
谐
写
泻
谢
锌
衅
兴
汹
锈
绣
虚
嘘
须
许
叙
绪
续
轩
悬
选
癣
绚
学
勋
询
寻
驯
训
讯
逊
压
鸦
鸭
哑
亚
讶
阉
烟
盐
严
颜
阎
艳
厌
砚
彦
谚
验
鸯
杨
扬
疡
阳
养
样
瑶
摇
尧
遥
窑
谣
药
爷
页
业
叶
医
铱
颐
遗
仪
蚁
艺
亿
忆
义
诣
议
谊
译
绎
荫
阴
银
饮
隐
樱
婴
鹰
应
缨
莹
萤
营
荧
蝇
赢
颖
哟
拥
痈
咏
忧
邮
铀
犹
诱
舆
鱼
渔
娱
屿
语
狱
誉
预
驭
鸳
渊
辕
园
员
圆
缘
远
约
跃
钥
粤
悦
阅
郧
匀
陨
运
蕴
酝
晕
韵
杂
灾
载
攒
暂
赞
赃
脏
凿
枣
责
择
则
泽
贼
赠
轧
铡
闸
栅
诈
斋
债
毡
盏
斩
辗
崭
栈
战
绽
张
涨
帐
账
胀
赵
蛰
辙
锗
这
贞
针
侦
诊
镇
阵
挣
睁
狰
争
帧
郑
证
织
职
执
纸
挚
掷
帜
质
滞
钟
终
肿
众
诌
轴
皱
昼
骤
猪
诸
诛
烛
瞩
嘱
贮
铸
驻
专
砖
转
赚
桩
装
妆
壮
状
锥
赘
坠
缀
谆
着
浊
兹
资
渍
踪
综
总
纵
邹
诅
组
钻





亘
丨
丿
鼗
丶
芈
啬
厍
厣
厮
靥
赝
匦
匮
赜
刂
刭
刿
剀
劐
冂
亻
仫
伛
伥
伧
伫
伲
侪
侬
俦
俨
俪
俣
倮
偾
偬
偻
傥
傧
傩
氽
佥
籴
黉
冁
勹
凫
亠
兖
衮
亵
脔
禀
冫
凇
冖
讠
讦
讧
讪
讴
讵
讷
诂
诃
诋
诏
诎
诒
诓
诔
诖
诘
诙
诜
诟
诠
诤
诨
诩
诮
诰
诳
诶
诹
诼
诿
谀
谂
谄
谇
谌
谏
谑
谒
谔
谕
谖
谙
谛
谘
谝
谟
谠
谡
谥
谧
谪
谫
谮
谯
谲
谳
谵
谶
卩
卺
阝
陉
陧
邝
邬
邺
郏
郐
郄
郓
郦
刍
奂
劢
勐
廴
凼
厶
巯
垩
垡
圹
坜
坂
垅
垆
垭
垲
垧
垴
埘
埚
埙
埯
埝
塄
塬
墚
艹
芗
苈
苊
苋
苌
苁
芪
苄
苎
苷
茏
苘
茑
茚
茔
茕
荛
荜
荞
荟
荠
荦
荥
荨
荩
荬
荪
荭
荮
莳
莴
莜
莅
莶
莸
莺
莼
萘
萜
萦
葜
蒇
蒈
蒉
蒌
蓦
蒽
蓠
蓥
蓣
蔸
蔹
蔺
蕲
薮
藓
藁
蘖
奁
尴
扌
扪
抟
挢
掴
掼
揸
揿
揞
摅
撄
撷
撸
撺
擀
甙
弑
卟
叽
吖
呋
呒
呓
呖
吡
呗
呙
吣
吲
咔
咛
咝
哐
咴
哒
哓
哔
咣
哕
哌
哙
哚
哜
咤
哝
唛
唠
唢
唣
啧
啉
啭
唿
喹
喽
喾
嗪
嗫
嗬
嗳
嗵
辔
嘞
嘤
嘣
嘭
噍
噜
噔
噻
噼
嚯
囵
帏
帱
帻
帼
幞
岖
岘
岙
岚
岜
岽
峁
峄
峤
峥
崂
崃
嵘
崾
嵛
嵝
嵴
巅
徕
彡
犭
犷
犸
狍
狯
狲
猃
猡
猕
猹
猬
猸
夂
饣
饧
饨
饩
饪
饫
饬
饴
饷
饽
馀
馄
馇
馊
馍
馐
馑
馓
馔
馕
庑
赓
廪
忄
怃
怄
忾
怅
怆
怿
恸
恹
恻
恺
恽
悭
惬
愠
愦
憷
懔
闩
闫
闱
闳
闵
闶
闼
闾
阃
阄
阆
阈
阊
阋
阌
阍
阏
阒
阕
阖
阗
阙
阚
丬
氵
沣
沩
泷
泸
沲
泺
泾
浃
浈
浍
浏
浒
浔
涞
涠
浜
渎
渑
渖
渌
溆
滟
滠
滢
溻
滗
潆
潇
漤
潋
潴
濑
灏
宀
骞
辶
迩
迳
逦
彐
屦
弪
妩
妪
妫
姗
娅
娆
娈
姹
娲
娴
婵
胬
媪
嫒
嫔
嫱
嬷
尜
驵
驷
驸
驺
驿
驽
骀
骁
骅
骈
骊
骐
骒
骓
骖
骘
骛
骜
骝
骟
骠
骢
骣
骥
骧
纟
纡
纣
纥
纨
纩
纭
纰
纾
绀
绁
绂
绉
绋
绌
绐
绔
绗
绛
绠
绡
绨
绫
绮
绯
绱
绲
缍
绶
绺
绻
绾
缁
缂
缃
缇
缈
缋
缌
缏
缑
缒
缗
缙
缜
缛
缟
缡
缢
缣
缤
缥
缦
缧
缪
缫
缬
缭
缯
缰
缱
缲
缳
缵
幺
巛
玑
玮
珏
珑
珉
顼
玺
珲
琏
瑷
璎
瓒
韪
韫
韬
杩
枥
枧
枨
枞
枭
栉
栊
栌
栀
栎
柽
桠
桡
桢
桤
桕
桦
桧
栾
桊
棂
椟
椠
椤
椁
榄
榀
榘
榇
榈
榉
槟
槠
樯
橥
橹
橼
檩
檫
殁
殇
殒
殓
殚
殡
轫
轭
轱
轲
轳
轵
轶
轸
轷
轹
轺
轼
轾
辁
辂
辄
辇
辋
辍
辎
辏
辘
辚
軎
戋
戗
戬
瓯
攴
昙
晔
晖
晗
暧
贲
贳
贶
贻
贽
赀
赅
赆
赈
赉
赇
赍
赕
赙
觇
觊
觋
觌
觎
觏
觐
觑
犟
牦
犏
毪
毵
氇
氩
氲
攵
敫
牍
肟
肼
肽
肷
胧
胨
胩
胪
胫
脍
脎
脒
脶
脲
腈
腙
腚
腼
腽
腭
膑
膪
臁
欤
飑
飒
飓
飕
飙
飚
毂
齑
斓
炀
炜
炝
炻
烀
烨
焖
煳
煅
煊
煺
熘
灬
焘
礻
祢
祯
禅
怼
悫
懑
戆
肀
泶
矶
砀
砗
砘
砜
砹
砺
砻
砼
硖
硗
硇
碛
碜
碹
磙
礴
龛
眍
眦
睐
睑
睃
畲
疃
罴
罱
羁
钅
钆
钇
钋
钊
钌
钍
钏
钐
钔
钗
钕
钚
钛
钜
钣
钤
钫
钪
钭
钬
钯
钰
钲
钴
钶
钷
钸
钹
钺
钼
钽
钿
铄
铈
铉
铊
铋
铌
铍
铎
铐
铑
铒
铕
铖
铗
铙
铘
铛
铞
铟
铠
铢
铤
铥
铧
铨
铪
铩
铫
铮
铯
铳
铴
铵
铷
铹
铼
铽
铿
锃
锂
锆
锇
锉
锊
锍
锎
锏
锒
锓
锔
锕
锖
锘
锛
锝
锞
锟
锢
锪
锫
锩
锬
锱
锲
锴
锶
锷
锸
锼
锾
锿
镂
锵
镄
镅
镆
镉
镌
镎
镏
镒
镓
镔
镖
镗
镘
镙
镛
镞
镟
镝
镡
镢
镤
镥
镦
镧
镨
镩
镪
镫
镬
镯
镱
镲
镳
锺
稆
穑
鸠
鸢
鸨
鸩
鸪
鸫
鸬
鸲
鸱
鸶
鸸
鸷
鸹
鸺
鸾
鹁
鹂
鹄
鹆
鹇
鹈
鹉
鹋
鹌
鹎
鹑
鹕
鹗
鹚
鹛
鹜
鹞
鹣
鹦
鹧
鹨
鹩
鹪
鹫
鹬
鹱
鹭
鹳
疒
疖
疠
疬
疴
疱
痃
痖
痨
痫
瘅
瘗
瘘
癀
瘿
瘾
癍
癞
癔
癫
癯
窦
窭
衤
裆
裢
裣
裥
褛
褴
皲
耠
耢
耥
耧
耱
聍
聩
顸
颀
颃
颉
颌
颍
颏
颔
颚
颛
颞
颟
颡
颢
颥
颦
虬
虿
蚬
蛎
蛏
蛱
蛲
蛳
蛴
蝈
蝽
蝾
蝰
螋
蝼
螨
蟮
罂
笃
笕
笾
筚
筝
筻
筢
箦
箧
箨
箪
箢
箫
篑
篼
簖
籁
舣
舭
舻
舾
袅
羟
籼
粝
粜
糁
糇
糍
絷
麸
趱
酰
酽
酾
醌
鹾
趸
跄
跞
跷
跸
跹
跻
踬
踯
踺
蹑
蹒
蹰
躏
躜
觞
觯
靓
雳
霁
霭
龀
龃
龅
龆
龇
龈
龉
龊
龌
黾
鼋
鼍
隽
雠
銮
錾
鐾
鱿
鲂
鲅
鲆
鲇
鲈
稣
鲋
鲎
鲐
鲑
鲒
鲔
鲕
鲚
鲛
鲞
鲟
鲠
鲡
鲢
鲣
鲥
鲦
鲧
鲨
鲩
鲫
鲭
鲮
鲰
鲱
鲲
鲳
鲴
鲵
鲶
鲷
鲺
鲻
鲼
鲽
鳄
鳅
鳆
鳇
鳊
鳋
鳌
鳍
鳎
鳏
鳐
鳓
鳔
鳕
鳗
鳘
鳙
鳜
鳝
鳟
鳢
鞑
鞒
鞯
鞲
鞴
鹘
骶
骺
髅
髋
髌
魇
魉
飨
餍
鬏
鬓
麽
黢
黩
黪
鼹
齄
ASSHOLE
Ass.Hole
Ass.hole
AssHole
Asshole
aSS.hOLE
ass.Hole
ass.hole
asshole