<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>游戏管理后台</title>

<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body style=" background:#407690; color:#FFFFFF;">

<div id="top">

<div class="header "><a>游戏管理后台</a></div>

<div class="container">
<div class="content" style="width:500px; height:150px; margin:25px auto;">
<div class="password" style="width:300px;height:40px; line-height:40px;  margin:0 auto; padding:0;">
<font color="#FF0000">{{errormsg}}</font>
</div>
<div class="admin" style="width:300px; height:40px; margin:0 auto; padding:0;">
<form method='POST' action='login'>
<span class="sp">管理员:</span>
<span class="sp_inp"><input type="text" name="username" value=""/></span>
</div>
<div class="password" style="width:300px;height:40px; line-height:40px;  margin:0 auto; padding:0;">
<span class="sp">密&nbsp;&nbsp;码:</span>
<span class="sp_inp"><input type="password" name="password" value="" /></span>
</div>
<div class="password" style="width:180px;height:100px; line-height:40px;  margin:0 auto; padding:0;">
<span class="sp_inp"><input type="submit" value="登陆"  style="background:#334f5c"/></span>
</form>
</div>



</div>
</div>

</div>

</body>
</html>
